
<style>
    .md-dialog-is-showing {
        top: auto !important;
    }

    .card-block .pagination li {
        margin-right: 10px !important;
    }

    .card .card-block ul {
        float: right !important;
    }

    /*   for table*/
    .card .card-block table tr {
        padding-bottom: 20px;
    }

    /*   for table*/
    .card .card-block table tr {
        padding-bottom: 20px;
    }

    .table td {
        padding: .25rem;
    }

    .table label {
        margin-bottom: 0px;
        margin-top: 8px;
    }


    /*  for button in table*/
    .table button {
        width: 45px;
        height: 40px;
        padding: 0px;
    }

        .table button i {
            margin-right: 0px;
        }

    /*  for sort indicator*/
    .ng-table th.sortable .sort-indicator {
        padding-right: 18px;
        position: relative;
        white-space: normal;
    }

        .ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {
            content: "";
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #000 transparent;
            visibility: hidden;
            right: 5px;
            top: 50%;
            position: absolute;
            opacity: .3;
        }

    .ng-table th.sortable.sort-desc .sort-indicator:after {
        border-bottom: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        visibility: hidden;
    }

    .ng-table th.sortable .sort-indicator:hover:before {
        opacity: 1;
        visibility: hidden;
    }

    .ng-table th.sortable .sort-indicator:hover:after {
        opacity: 1;
        visibility: hidden;
    }
</style>

<div id="overlay" class="col-lg-6 offset-md-2">
    <div class="w-100 d-flex justify-content-lg-center align-items-center">
        <div class="spinner-Cancel"></div>
    </div>
</div>
<div class="page-body">
    <div class="row">

        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        <h4>Admission Cancel Request List</h4>
                    </div>
                    <div ng-show="IsBackBtn" class="float-right"> <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Back</button></div>
                </div>



                <div class="card-block">
                    <div>
                        <form ng-model="AppStats" ng-show="showFormFlag">
                            <div class="form-group row" ng-init="getFacultyById()">
                                <div class="col-sm-3">Faculty Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{Institute.FacultyName}} - {{Institute.InstituteId}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">Application Form No:</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{CancelFaculty.ApplicationId}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">Instance Part Term Name:</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{CancelFaculty.InstancePartTermName}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">Alloted Institute:</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{CancelFaculty.AllotedInstitute}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">Admission Fees Paid Status:</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{CancelFaculty.IsAdmissionFeePaid}}</label>

                                        </span>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group row">
                                <h4>View the Document</h4>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>HandWrittenDocument</th>
                                            <th>PassBookImage</th>
                                            <th>RTGS Form</th>
                                            <th>Authority Letter</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label ng-show="CancelFaculty.HandwrittenDocument  != null">

                                                    <a href="{{CancelFaculty.HandwrittenDocument}}" target="_blank">
                                                        <button type="button" title="View"
                                                                class="btn btn-info waves-effect waves-light" style="min-width:40px;">
                                                            <i class="icon-doc" style="color:white"></i>

                                                        </button>
                                                    </a>
                                                </label>
                                                <label ng-show="CancelFaculty.HandwrittenDocument  == null">
                                                    <span style="color:red;">No Document Found..!</span>
                                                </label>
                                            </td>

                                            <td>
                                                <label ng-show="CancelFaculty.PassbookDoc  != null">

                                                    <a href="{{CancelFaculty.PassbookDoc}}" target="_blank">
                                                        <button type="button" title="View"
                                                                class="btn btn-info waves-effect waves-light" style="min-width:40px;">
                                                            <i class="icon-doc" style="color:white"></i>

                                                        </button>
                                                    </a>
                                                </label>
                                                <label ng-show="CancelFaculty.PassbookDoc  == null">
                                                    <span style="color:red;">No Document Found..!</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label ng-show="CancelFaculty.RTGSForm  != null">

                                                    <a href="{{CancelFaculty.RTGSForm}}" target="_blank">
                                                        <button type="button" title="View"
                                                                class="btn btn-info waves-effect waves-light" style="min-width:40px;">
                                                            <i class="icon-doc" style="color:white"></i>

                                                        </button>
                                                    </a>
                                                </label>
                                                <label ng-show="CancelFaculty.RTGSForm  == null">
                                                    <span style="color:red;">No Document Found..!</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label ng-show="CancelFaculty.AuthorityLetter  != null">

                                                    <a href="{{CancelFaculty.AuthorityLetter}}" target="_blank">
                                                        <button type="button" title="View"
                                                                class="btn btn-info waves-effect waves-light" style="min-width:40px;">
                                                            <i class="icon-doc" style="color:white"></i>

                                                        </button>
                                                    </a>
                                                </label>
                                                <label ng-show="CancelFaculty.AuthorityLetter  == null">
                                                    <span style="color:red;">No Document Found..!</span>
                                                </label>
                                            </td>



                                        </tr>



                                    </tbody>
                                </table>

                            </div>



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Application Status:<span style="color:red">*</span></label>
                                 <div class="col-sm-6">
           <select name="select" class="form-control" id="dropAppStatus" ng-options="d.name for d in CancelList" ng-model="ApplicationStatus" required>

               <option value="">-- Choose Status --</option>
           </select>
                                    
       </div>
                             <!--   <div class="col-sm-6">
                                    <select>
                                        
                                        <option ng-model="CancelFaculty.ApplicationStatus" value="1">Cancel Request Approved-Forward To Academic</option>
                                        <option ng-model="CancelFaculty.ApplicationStatus" value="2">Cancel Request Rejected</option>
                                        <option ng-model="CancelFaculty.ApplicationStatus" value="3">Pending</option>

                                    </select>
                                </div>-->
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Remarks: <span style="color:red">*</span></label>
                                <div class="col-sm-6">
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Type Remarks" ng-model="CancelFaculty.FacultyRemark" required></textarea>

                                </div>
                            </div>
                            <div id="overlay" class="col-lg-6 offset-md-2">
                                <div class="w-100 d-flex justify-content-lg-center align-items-center">
                                    <div class="spinner-Cancel"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"></div>

                                <div class="col-sm-6">
                                    <button class="btn btn-success" ng-show="CancelFaculty.StatusUpdated==true" ng-click="updateCancelFormRequest(CancelFaculty)">Update </button>
                                    <button class="btn btn-primary" ng-show="CancelFaculty.StatusUpdated==true" ng-click="resetCancelForm()">Cancel</button>
                                </div>
                            </div>






                        </form>


                    </div>
                </div>

                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="example-2" ng-table="CancelTableParams" show-filter="true">
                            <tbody ng-repeat="CancelData in $data">
                                <tr>
                                    <td class="expand_data" id="{{'first_col'+$index}}" ng-click="expand_row($index)">+</td>
                                    <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ CancelData.IndexId }}</label></td>
                                    <td data-title="'Application Form No'" filter="{ApplicationId: 'text'}" sortable="'ApplicationId'" style=" border-top: none;"><label>{{CancelData.ApplicationId}} </label></td>
                                    <td data-title="'User Name'" filter="{ApplicantUserName: 'text'}" sortable="'ApplicantUserName'" style=" border-top: none;"><label> {{CancelData.ApplicantUserName}}</label></td>
                                    <td data-title="'Applicant Name'" filter="{FirstName: 'text'}" sortable="'FirstName'" style=" border-top: none;"><label>{{CancelData.FirstName}} {{CancelData.LastName}}</label></td>

                                    <td data-title="'Instance Part Term Name'" filter="{InstancePartTermName: 'text'}" sortable="'FirstName'" style=" border-top: none;"><label>{{CancelData.InstancePartTermName}}</label></td>
                                    <td data-title="'Application Status'" filter="{ApplicationStatus: 'text'}" sortable="'ApplicationStatus'" style=" border-top: none;"><label>{{CancelData.ApplicationStatus}}</label></td>

                                    <!--<td data-title="'Remark Status'" filter="{RemarkStatus: 'text'}" sortable="'RemarkStatus'">

                        <span ng-if="CancelData.RemarkStatus=='Status Updated'" style=" color:green;margin-left:15px;">{{CancelData.RemarkStatus}}</span>
                        <span ng-if="CancelData.RemarkStatus != 'Status Updated'" style=" color:red;margin-left:15px;">{{CancelData.RemarkStatus}}</span>



                    </td>-->

                                    <td data-title="'Actions'">
                                        <div layout="row">
                                            <span flex></span>


                                            <button type="button" ng-click="modifyCancelData(CancelData)"  class="tabledit-edit-button btn btn-primary waves-effect waves-light"><span class="icofont icofont-ui-edit"></span></button>

                                        </div>
                                    </td>
                                </tr>
                                <tr id="{{'expand'+$index}}" class="collapse text-wrap">
                                    <td style="text-wrap:inherit;white-space: normal !important;" colspan="7">
                                        <div class="row">
                                            <div class="col-md-6 row">
                                                <div class="col-md-6"><span>Mobile No : </span></div>
                                                <div class="col-md-6"><span>{{CancelData.MobileNo}}</span></div>
                                            </div>
                                            <div class="col-md-6 row">
                                                <div class="col-md-6"><span>Email Id : </span></div>
                                                <div class="col-md-6"><span>{{CancelData.EmailId}}</span></div>
                                            </div>
                                        </div>
                                        

                                        <div class="row">
                                            <div class="col-md-6 row">
                                                <div class="col-md-6"><span>Reason : </span></div>
                                                <div class="col-md-6"><span>{{CancelData.Reason}}</span></div>
                                            </div>
                                            <div class="col-md-6 row">
                                                <div class="col-md-6"><span>Faculty Remark : </span></div>
                                                <div class="col-md-6"><span>{{CancelData.FacultyRemark}}</span></div>
                                            </div>
                                        </div>


                                </tr>
                            </tbody>

                        </table>

                        <div class="card-header-left" ng-show="NoPendingRecLabel">
                            <label id="NoRecLbl1" style="font:bold; font-size:medium; color:red;">No Record Found!..</label>
                        </div>


                    </div>

                    <div style="text-align:right;width:100%">
                        <button type="button" class="btn btn-success text-left" ng-click="exportCancelDataFaculty()">Export To Excel</button>
                    </div>
                </div>




            </div>

           
        </div>

    </div>

</div>
