<div class="page-body" ng-controller="AdmissionFeesReportByFacultyCtrl">
    <div class="card">
        <div class="card-header">
            <h4>Admission Fees Report for Faculty</h4>
        </div>


        <div class="card-block">
            <div class="col-md-12 offset-md-2">
                <form ng-model="AdmissionFeesReportByFaculty">
                    <div class="form-group row" ng-init="getFacultyById()">
                        <div class="col-sm-2">Faculty Name<span style="color:red;"> * </span></div>
                        <div class="col-sm-6">
                            <div>
                                <span class="nullable">
                                    <label>{{Faculty.FacultyName}} - {{Faculty.Id}}</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">Academic Year Code:<span style="color:red;"> * </span></div>
                        <div class="col-sm-6">
                            <div>
                                <span class="nullable">
                                    <select ng-model="AdmissionFeesReportByFaculty.AcademicYearId" ng-options="d.Id as d.AcademicYearCode for d in AYList" [value]="AdmissionFeesReportByAcademic.AcademicYearId" class="form-control" name="ProgPartTermdropdown" required>

                                        <option value="" disabled selected>-- select --</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-success" ng-click="getAdmissionFeesReportByFaculty(Faculty.Id,AdmissionFeesReportByFaculty.AcademicYearId)">Submit </button>

                </form>
            </div>
        </div>
        <div layout="row" style="margin-top:3px" class="float-left">

            <button ng-click="exportData()" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="min-width:40px;">Export to Excel </button>


        </div>
        <div class="card">
            <div class="card-block">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="example-2" ng-table="AdmissionFeesReportByFacultyTableParams" show-filter="true">
                        <tbody>
                            <tr ng-repeat="AdmissionFeesReportByFaculty in $data">
                                <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ AdmissionFeesReportByFaculty.IndexId }}</label></td>
                                <td data-title="'Instance Part Term Name'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style=" border-top: none;"><label>{{AdmissionFeesReportByFaculty.InstancePartTermName}}</label></td>
                                <td data-title="'Admission Fee Status'" filter="{AdmissionFeeStatus: 'text'}" sortable="'AdmissionFeeStatus'" style=" border-top: none;"><label>{{AdmissionFeesReportByFaculty.AdmissionFeeStatus}}</label></td>
                                <td data-title="'Published Status'" filter="{PublishedStatus: 'text'}" sortable="'PublishedStatus'" style=" border-top: none;"><label>{{AdmissionFeesReportByFaculty.PublishedStatus}}</label></td>
                                <!--<td data-title="'InstancePartTermName'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style=" border-top: none;"><label>{{AdmissionFeesReportByFaculty.InstancePartTermName}}</label></td>-->

                                <td data-title="'Actions'">
                                    <div layout="row">
                                        <span flex></span>

                                        <button type="button" ng-click="displayAdmissionFeesReportByFaculty(AdmissionFeesReportByFaculty)" class="btn btn-info btn-icon mr-2" data-target="#large-Modal" data-toggle="modal"><span class="icofont ion-eye"></span></button>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="card" ng-show="NoRecLabel">
            <label style="font:bold; text-align:center; font-size:medium; color:red;">No Record Found..!</label>
        </div>

        <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Admission Fees Report Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5></h5>
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>Academic Year Code:</td>
                                <td>{{AdmissionFeesReportByFaculty.AcademicYearCode}}</td>
                            </tr>
                            <tr>
                                <td>Fee Type Name:</td>
                                <td>{{AdmissionFeesReportByFaculty.FeeTypeName}}</td>
                            </tr>
                            <tr>
                                <td>Instance Part Term Name:</td>
                                <td>{{AdmissionFeesReportByFaculty.InstancePartTermName}}</td>
                            </tr>
                            <tr>
                                <td>Faculty Name:</td>
                                <td>{{AdmissionFeesReportByFaculty.FacultyName}}</td>
                            </tr>
                            <tr>
                                <td>Programme Name:</td>
                                <td>{{AdmissionFeesReportByFaculty.ProgrammeName}}</td>
                            </tr>
                            <tr>
                                <td>Branch Name:</td>
                                <td>{{AdmissionFeesReportByFaculty.BranchName}}</td>
                            <tr>
                                <td>Fee Category Name:</td>
                                <td>{{AdmissionFeesReportByFaculty.FeeCategoryName}}</td>

                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>{{AdmissionFeesReportByFaculty.TotalAmount}}</td>

                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default waves-effect " data-dismiss="modal" disabled>Close</button>-->
                        <button type="button" class="btn btn-primary waves-effect waves-light " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">StudentAddOnInfo Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5></h5>

                    <table class="table table-striped table-bordered" template-pagination="none">
                        <tr>
                            <th>Questions:</th>
                            <th>Answers:</th>

                        </tr>
                        <tr ng-repeat="addOn in addOnTitle.ansquestList">

                            <td>{{addOn.TitleName}}</td>
                            <td>{{addOn.AddOnValue}}</td>
                        </tr>





                    </table>

                    <table class="table table-striped table-bordered" template-pagination="none">
                        <tr>
                            <th>NotAnsweredQuestions:</th>


                        </tr>
                        <tr ng-repeat="addOn in addOnTitle.NoansquestList">

                            <td>{{addOn.NotAnsweredQuestion}}</td>

                        </tr>





                    </table>

                </div>
                <div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default waves-effect " data-dismiss="modal" disabled>Close</button>-->
        <!--<button type="button" class="btn btn-primary waves-effect waves-light " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>-->


        <div style="text-align:right;width:100%" ng-show="IsExcelButton">
            <button type="button" class="btn btn-success text-left" ng-click="exportDataAddOnInfo()">Export To Excel</button>
        </div>
    </div>

</div>


