

<!-- Page body start -->
<div class="page-body" ng-init="getGroupComponentListById()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left">
                            <h4>Change Password</h4>
                        </div>
                        <!--<div class="float-right">
                            <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Modify</button>&nbsp;&nbsp;
                            <button type="button" ng-click="nextAdd()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Next</button>
                        </div>-->
                    </div>
                </div>

                <div class="card-block">
                   
                    <div class="col-md-12 offset-md-2">
                        <form name="UserEdit" ng-model="User">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Current Password</label>
                                <div class="col-sm-6">
                                    <input type="password" id="ExistingPasswordId" class="preview clearfix" ng-model="User.ExistingPassword" placeholder="Current Password" required>
                                    <i class="far fa-eye" id="togglePassword"></i>
                                    <input type="checkbox" onclick="myFunction(ExistingPasswordId)">Show Password
                                    <!--<button type="button" ng-click="myFunction(myInput)" class="btn btn-info btn-icon mr-2"><span class="icofont ion-eye"></span></button>-->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">New Password</label>
                                <div class="col-sm-6">
                                    <input type="password" id="NewPasswordId" class="preview clearfix" ng-model="User.NewPassword" placeholder="New Password" required>
                                    <input type="checkbox" onclick="myFunction(NewPasswordId)">Show Password
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Repeat New Password</label>
                                <div class="col-sm-6">
                                    <input type="password" id="RepeatNewPasswordId" class="preview clearfix" ng-model="User.RepeatNewPassword" placeholder="Repeat New Password" required>
                                    <input type="checkbox" onclick="myFunction(RepeatNewPasswordId)">Show Password
                                </div>
                            </div>

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" ng-click="editMstUser()">Save</button>
                                        <button class="btn btn-disabled disabled" ng-click="resetMstUser()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction(myInput) {
       // var x = document.getElementById("myInput");
        var x = myInput;
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>