<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>
<script src="../../../app/admin/controller/alasql.js"></script>
<!-- Page body start -->

<div ng-controller="ApplicationPaymentReportCtrl">
    <!-- Verticle Wizard card start -->
    <div class="card">
        <div class="card-header">
            <h4>
                <label> Application Payment Report</label>

            </h4>

        </div>

        <div class="card">

            <div class="card-block">
                <div class="table-responsive">
                    <div class="form-group row">
                        <div class="col-sm-2">Fees Paid Status</div>
                        <div class="col-sm-6">
                            <div>
                                <span class="nullable">
                                    <select class="form-control" ng-model="TransactionStatus">
                                        <option value="">--Select Fees Paid--</option>
                                        <option value="All">All</option>
                                        <option value="success">success</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Failure">Failure</option>
                                    </select>
                                    <!--<select class="form-control" id="TransactionStatus" name="TransactionStatus" ng-model="TransactionStatus">
                                        <option value="">--Select Fees Paid--</option>
                                        <option value="All">All</option>
                                        <option value="success">success</option>
                                        <option value="Decline">Decline</option>
                                    </select>-->
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">From Date</label>
                        <div class="col-sm-6">
                            <input type="date" name="FromDate" class="form-control" ng-model="FromDate" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">To Date</label>
                        <div class="col-sm-6">
                            <input type="date" name="ToDate" class="form-control" ng-model="ToDate" required />
                        </div>
                    </div>
                    <div class="col-md-12 offset-md-2">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button class="btn btn-success" ng-click="getfilterpaymentdata()">Search</button>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered" id="paymentstatus" ng-table="ApplicationPaymentReportTableParams" show-filter="true" style="width:100%">
                        <tbody ng-repeat="ApplicationPaymentReport in $data">

                            <tr>

                                <!--<tr ng-if='test1 == ApplicationPaymentReport.TransactionStatus || test1 =="All"'>-->
                                <!--<td class="expand_data" id="{{'first_col'+ $index}}" ng-click="expand_row($index)">+</td>
                                <td data-title="'Sr.No.'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>-->
                                <td data-title="'Sr.No'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center;"><label>{{ApplicationPaymentReport.IndexId}}</label></td>
                                <td data-title="'Actions'">
                                    <div layout="row">
                                        <button class="btn btn-success" ng-click="viewPaymentDetails(ApplicationPaymentReport.Id)">View</button>
                                    </div>
                                </td>
                                <td data-title="'Full Name'" filter="{FullName: 'text'}" sortable="'FullName'" style=" border-top: none;"><label>{{ApplicationPaymentReport.FirstName}}.{{ApplicationPaymentReport.MiddleName}}.{{ApplicationPaymentReport.LastName}}</label></td>
                                <td data-title="'Email Id'" filter="{EmailId: 'text'}" sortable="'EmailId'" style=" border-top: none;"><label>{{ApplicationPaymentReport.EmailId}}</label></td>
                                <td data-title="'Mobile No'" filter="{MobileNo: 'text'}" sortable="'MobileNo'" style=" border-top: none;"><label>{{ApplicationPaymentReport.MobileNo}}</label></td>
                                <td data-title="'Programme Name'" filter="{ProgrammeName: 'text'}" sortable="'ProgrammeName'" style=" border-top: none;"><label>{{ApplicationPaymentReport.ProgrammeName}}</label></td>
                                <td data-title="'Payment Status'" filter="{TransactionStatus: 'text'}" sortable="'TransactionStatus'" style=" border-top: none;"><label>{{ApplicationPaymentReport.TransactionStatus}}</label></td>
                                <td data-title="'Transaction Date'" filter="{TransactionDates: 'text'}" sortable="'TransactionDates'" style=" border-top: none;"><label>{{ApplicationPaymentReport.TransactionDates}}</label></td>

                            </tr>
                            <!--<tr id="{{'expand'+ $index}}" class="collapse">
                                <td colspan="9">
                                    <div class="row">
                                        <div class="col-md-5 row">
                                            <div class="col-md-3"><span>Programme Name : </span></div>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="col-md-4"><span>{{ApplicationPaymentReport.ProgrammeName}}</span></div>
                                        </div>
                                        <div class="col-md-5 row">
                                            <div class="col-md-2"><span>Transaction Status : </span></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="col-md-4"><span>{{ApplicationPaymentReport.TransactionStatus}}</span></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                    <p>
                        <div class="card-header-right"> <button type="button" ng-click="exportApplicationPaymentReportData()" class="btn btn-info">Export To Excel</button></div>
                    </p>
                    <div ng-if="contentPresent">
                        <h2 style="font-size:small; text-align:center">teYou have not appllied to any Course. Click on "Apply Online" to apply in course</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Verticle Wizard card end -->


    <div class="modal fade" id="ignismytrueModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>

                <div class="modal-body">

                    <div class="thank-you-pop">
                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                            <span class="swal2-success-line-tip"></span>
                            <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                        </div>
                        <!--<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">-->
                        <h1>Thank You!</h1>
                        <p>Your application fee is received.</p>
                        <h3 class="cupon-pop">Your ApplicationId : <span>{{ApplicationId}}</span></h3>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="ignismyfalseModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>

                <div class="modal-body">

                    <div class="thank-you-pop">
                        <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
                        <!--<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">-->
                        <h1>Try Again...</h1>
                        <p>Your application fee is pending.</p>
                        <h3 class="cupon-pop">Your ApplicationId : <span>{{ApplicationId}}</span></h3>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
        function CloseModalignismytrueModal() {
            $('#ignismytrueModal').modal('hide');
        }

        function CloseModalignismyfalseModal() {
            $('#ignismyfalseModal').modal('hide');
        }
        $("#verticle-wizard").steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "slide",
            stepsOrientation: "vertical",
            autoFocus: true
        });

    </script>

</div>