
<style>
    ::-webkit-scrollbar {
        height: 20px !important;
        overflow: visible;
        width: 0px;
        background-color: lightgray;
    }

    td {
        white-space: normal !important;
        text-align: center;
    }
</style>

<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4><b>Application Group Preference Report</b></h4></div>

                    </div>
                </div>

                <div class="card-block">

                    <div class="col-md-12 offset-md-2">
                        <form ng-model="AppStats">

                            <div class="form-group row" ng-init="getFacultyById()">
                                <div class="col-sm-2"><b>Faculty Name:</b></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{Institute.FacultyName}} - {{Institute.Id}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"><b>Institute Name:</b></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <label>{{Institute.InstituteName}} - {{Institute.InstituteId}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-init="IncAcademicYearListGet()">
                                <div class="col-sm-2">
                                    <b>Academic Year :</b><span style="color:red;"> * </span>

                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="GroupPreference.AcademicYearId" ng-options="d.Id as d.AcademicYearCode for d in AcademicYearList" ng-change="getProgrammeListByInstIdAcadId()" name="AcadYearName">
                                        <option value="">-- SELECT --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2"><b>Programme Name:</b><span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="GroupPreference.ProgrammeId" ng-options="d.Id as d.ProgrammeName for d in ProgrammeList" ng-change="getInstanceNameList()" class="form-control" name="Progdropdown" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2"><b>Instance Part Term Name:</b><span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="GroupPreference.ProgrammeInstancePartTermId" ng-options="d.Id as d.InstancePartTermName for d in InstanceNameList" class="form-control" name="ProgInstanceNamedropdown" ng-disabled="partTermDisable" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="button" ng-click="ApplicationGroupPreferenceReportGetByPIPTID()" ()" class="btn btn-success">&nbsp; Submit</button>

                                        <button class="btn btn-disabled disabled" ng-click="cancelPendingRequiredDocumentList()">Cancel</button>

                                    </div>
                                </div>
                            </div>


                            <div id="overlay" class="col-lg-6 offset-md-2">
                                <div class="w-100 d-flex justify-content-lg-center align-items-center">
                                    <div class="spinner"></div>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>

                <div class="col-sm-12" ng-show="IsLabelVisible">
                    &nbsp;

                    <div class="card">
                        <form ng-model="ProgramLbl">
                            <div class="form-group row">

                                <label class="col-sm-2 col-form-label">
                                    <b>Faculty Name :</b>
                                </label>

                                <div class="col-sm-2">
                                    <label>{{ProgramLbl.FacultyName}}</label>

                                </div>

                                <label class="col-sm-2 col-form-label">
                                    <b>Academic Year :</b>
                                </label>

                                <div class="col-sm-2">
                                    <label>{{ProgramLbl.AcademicYearCode}} </label>
                                </div>

                                <label class="col-sm-2 col-form-label">
                                    <b>Branch Name :</b>
                                </label>

                                <div class="col-sm-2">
                                    <label>{{ProgramLbl.BranchName}} </label>
                                </div>



                            </div>

                            <div class="form-group row">

                                <label class="col-sm-2 col-form-label">
                                    <b>Programme Name :</b>
                                </label>

                                <div class="col-sm-3">
                                    <label>{{ProgramLbl.ProgrammeName}}</label>

                                </div>

                                <label class="col-sm-3 col-form-label"><b>Instance Part Term Name :</b></label>
                                <div class="col-sm-4">
                                    <label>{{ProgramLbl.InstancePartTermName}} </label>
                                </div>

                            </div>



                        </form>

                    </div>


                </div>

                <div class="card" ng-show="IsGroupPreferenceVisible">
                    <div class="card-block" >

                        <div class="table-responsive">
                            <div>
                                <div class="float-right"> <button type="button" class="btn btn-success" ng-click="ExportGroupPreferenceReportInExcel()">Export To Excel</button></div>
                                <div class="float-left"><h4><b>Applicant Group Preference Detail</b></h4></div>
                            </div>&nbsp;

                            <table class="table table-striped table-bordered" ng-table="GroupPreferenceTableParams" show-filter="true">

                                <tbody ng-repeat="GroupPreference in $data">

                                    <tr style="text-align:center">
                                        <td class="expand_data" id="{{'first_col'+$index}}" ng-click="expand_row($index)">+</td>
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;text-align:center;"><label>{{GroupPreference.IndexId }}</label></td>
                                        <td data-title="'Application No'" filter="{ApplicationNo: 'text'}" sortable="'ApplicationNo'" style=" border-top: none;"><label>{{GroupPreference.ApplicationNo}}</label></td>
                                        <td data-title="'Applicant User Name'" filter="{UserName: 'text'}" sortable="'UserName'" style=" border-top: none;"><label>{{GroupPreference.UserName}}</label></td>
                                        <td data-title="'Applicant Name'" filter="{NameAsPerMarksheet: 'text'}" sortable="'NameAsPerMarksheet'" style=" border-top: none;text-align:left;"><label>{{GroupPreference.NameAsPerMarksheet}}</label></td>
                                        <td data-title="'Email Id'" filter="{EmailId: 'text'}" sortable="'EmailId'" style=" border-top: none;text-align:left"><label>{{GroupPreference.EmailId}}</label></td>
                                        <td data-title="'Mobile No'" filter="{MobileNo: 'text'}" sortable="'MobileNo'" style=" border-top: none;"><label>{{GroupPreference.MobileNo}}</label></td>
                                        <td data-title="'Social Category Name'" filter="{SocialCategoryName: 'text'}" sortable="'SocialCategoryName'" style=" border-top: none;"><label>{{GroupPreference.SocialCategoryName}}</label></td>
                                        <td data-title="'Last Qualifying Degree Name'" filter="{EligibleDegreeName: 'text'}" sortable="'EligibleDegreeName'" style=" border-top: none;"><label>{{GroupPreference.EligibleDegreeName}}</label></td>
                                        <td data-title="'Last Qualifying Percentage'" filter="{Percentage: 'text'}" sortable="'Percentage'" style=" border-top: none;"><label>{{GroupPreference.Percentage}}</label></td>
                                        <!--<td data-title="'ExamPassCity'" filter="{ExamPassCity: 'text'}" sortable="'ExamPassCity'" style=" border-top: none;"><label>{{GroupPreference.ExamPassCity}}</label></td>-->
                                        <!--<td data-title="'PassingYear'" filter="{PassingYear: 'text'}" sortable="'PassingYear'" style=" border-top: none;"><label>{{GroupPreference.PassingYear}}</label></td>-->
                                        <!--<td data-title="'Choice1'" filter="{Choice1: 'text'}" sortable="'Choice1'" style=" border-top: none;"><label>{{GroupPreference.Choice1}}</label></td>
                                        <td data-title="'Choice2'" filter="{Choice2: 'text'}" sortable="'Choice2'" style=" border-top: none;"><label>{{GroupPreference.Choice2}}</label></td>
                                        <td data-title="'Choice3'" filter="{Choice3: 'text'}" sortable="'Choice3'" style=" border-top: none;"><label>{{GroupPreference.Choice3}}</label></td>
                                        <td data-title="'Choice4'" filter="{Choice4: 'text'}" sortable="'Choice4'" style=" border-top: none;"><label>{{GroupPreference.Choice4}}</label></td>
                                        <td data-title="'Choice5'" filter="{Choice5: 'text'}" sortable="'Choice5'" style=" border-top: none;"><label>{{GroupPreference.Choice5}}</label></td>
                                        <td data-title="'Choice6'" filter="{Choice6: 'text'}" sortable="'Choice6'" style=" border-top: none;"><label>{{GroupPreference.Choice6}}</label></td>
                                        <td data-title="'Choice7'" filter="{Choice7: 'text'}" sortable="'Choice7'" style=" border-top: none;"><label>{{GroupPreference.Choice7}}</label></td>
                                        <td data-title="'Choice8'" filter="{Choice8: 'text'}" sortable="'Choice8'" style=" border-top: none;"><label>{{GroupPreference.Choice8}}</label></td>
                                        <td data-title="'Choice9'" filter="{Choice9: 'text'}" sortable="'Choice9'" style=" border-top: none;"><label>{{GroupPreference.Choice9}}</label></td>
                                        <td data-title="'Choice10'" filter="{Choice10: 'text'}" sortable="'Choice10'" style=" border-top: none;"><label>{{GroupPreference.Choice10}}</label></td>
                                        <td data-title="'Choice11'" filter="{Choice11: 'text'}" sortable="'Choice11'" style=" border-top: none;"><label>{{GroupPreference.Choice11}}</label></td>
                                        <td data-title="'Choice12'" filter="{Choice12: 'text'}" sortable="'Choice12'" style=" border-top: none;"><label>{{GroupPreference.Choice12}}</label></td>
                                        <td data-title="'Choice13'" filter="{Choice13: 'text'}" sortable="'Choice13'" style=" border-top: none;"><label>{{GroupPreference.Choice13}}</label></td>
                                        <td data-title="'Choice14'" filter="{Choice14: 'text'}" sortable="'Choice14'" style=" border-top: none;"><label>{{GroupPreference.Choice14}}</label></td>
                                        <td data-title="'Choice15'" filter="{Choice15: 'text'}" sortable="'Choice15'" style=" border-top: none;"><label>{{GroupPreference.Choice15}}</label></td>
                                        <td data-title="'Choice16'" filter="{Choice16: 'text'}" sortable="'Choice16'" style=" border-top: none;"><label>{{GroupPreference.Choice16}}</label></td>
                                        <td data-title="'Choice17'" filter="{Choice17: 'text'}" sortable="'Choice17'" style=" border-top: none;"><label>{{GroupPreference.Choice17}}</label></td>
                                        <td data-title="'Choice18'" filter="{Choice18: 'text'}" sortable="'Choice18'" style=" border-top: none;"><label>{{GroupPreference.Choice18}}</label></td>
                                        <td data-title="'Choice19'" filter="{Choice19: 'text'}" sortable="'Choice19'" style=" border-top: none;"><label>{{GroupPreference.Choice19}}</label></td>
                                        <td data-title="'Choice20'" filter="{Choice20: 'text'}" sortable="'Choice20'" style=" border-top: none;"><label>{{GroupPreference.Choice20}}</label></td>
                                        <td data-title="'Choice21'" filter="{Choice21: 'text'}" sortable="'Choice21'" style=" border-top: none;"><label>{{GroupPreference.Choice21}}</label></td>
                                        <td data-title="'Choice13'" filter="{Choice13: 'text'}" sortable="'Choice22'" style=" border-top: none;"><label>{{GroupPreference.Choice22}}</label></td>
                                        <td data-title="'Choice23'" filter="{Choice23: 'text'}" sortable="'Choice23'" style=" border-top: none;"><label>{{GroupPreference.Choice23}}</label></td>
                                        <td data-title="'Choice24'" filter="{Choice24: 'text'}" sortable="'Choice24'" style=" border-top: none;"><label>{{GroupPreference.Choice24}}</label></td>
                                        <td data-title="'Choice25'" filter="{Choice25: 'text'}" sortable="'Choice25'" style=" border-top: none;"><label>{{GroupPreference.Choice25}}</label></td>
                                        <td data-title="'Choice26'" filter="{Choice26: 'text'}" sortable="'Choice26'" style=" border-top: none;"><label>{{GroupPreference.Choice26}}</label></td>
                                        <td data-title="'Choice27'" filter="{Choice27: 'text'}" sortable="'Choice27'" style=" border-top: none;"><label>{{GroupPreference.Choice27}}</label></td>
                                        <td data-title="'Choice28'" filter="{Choice28: 'text'}" sortable="'Choice28'" style=" border-top: none;"><label>{{GroupPreference.Choice28}}</label></td>
                                        <td data-title="'Choice29'" filter="{Choice29: 'text'}" sortable="'Choice29'" style=" border-top: none;"><label>{{GroupPreference.Choice29}}</label></td>
                                        <td data-title="'Choice30'" filter="{Choice30: 'text'}" sortable="'Choice30'" style=" border-top: none;"><label>{{GroupPreference.Choice30}}</label></td>
                                        <td data-title="'Choice31'" filter="{Choice31: 'text'}" sortable="'Choice31'" style=" border-top: none;"><label>{{GroupPreference.Choice31}}</label></td>-->


                                    </tr>
                                    <tr id="{{'expand'+$index}}" class="collapse text-wrap">
                                        <td style="text-wrap:inherit;white-space: normal !important;" colspan="7">
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice1 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice1}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice2 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice2}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice3 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice3}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice4 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice4}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice5 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice5}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice6 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice6}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice7 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice7}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice8 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice8}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice9 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice9}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice10 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice10}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice11 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice11}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice12 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice12}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice13 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice13}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice14 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice14}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice15 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice15}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice16 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice16}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice17 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice17}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice18 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice18}}</span></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice19 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice19}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice20 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice20}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice21 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice21}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice22 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice22}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice23 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice23}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice24 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice24}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice25 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice25}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice26 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice26}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice27 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice27}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice28 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice28}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice29 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice27}}</span></div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice30 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice28}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 row">
                                                    <div class="col-md-6"><span>Choice31 : </span></div>
                                                    <div class="col-md-6"><span>{{GroupPreference.Choice27}}</span></div>
                                                </div>
                                              
                                            </div>


</tr>
                                </tbody>


                            </table>



                        </div>


                    </div>

                </div>



            </div>

                <div class="card" ng-show="NoRecLabel">
                    <label style="font:bold; font-size:medium; color:red;text-align:center;">No Record Found!..</label>
                </div>
            </div>
    </div>
</div>