<!--<style>
    .card-block .pagination li {
        margin-right: 10px !important;
    }

    .card .card-block ul {
        float: right !important;
    }

    /*   for table*/
    .card .card-block table tr {
        padding-bottom: 20px;
    }

    .table td {
        padding: .25rem;
    }

    .table label {
        margin-bottom: 0px;
        margin-top: 8px;
    }

    /*  for button in table*/
    .table button {
        width: 45px;
        height: 40px;
        padding: 0px;
    }

        .table button i {
            margin-right: 0px;
        }

    /*  for sort indicator*/
    .ng-table th.sortable .sort-indicator {
        padding-right: 18px;
        position: relative;
        white-space: normal;
    }

        .ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {
            content: "";
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #000 transparent;
            visibility: hidden;
            right: 5px;
            top: 50%;
            position: absolute;
            opacity: .3;
        }

    .ng-table th.sortable.sort-desc .sort-indicator:after {
        border-bottom: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        visibility: hidden;
    }

    .ng-table th.sortable .sort-indicator:hover:before {
        opacity: 1;
        visibility: hidden;
    }

    .ng-table th.sortable .sort-indicator:hover:after {
        opacity: 1;
        visibility: hidden;
    }
</style>-->
<!--<script>
    $scope.checkedOptions = function () {
        debugger;
        var selectedValue;
        if (document.getElementById('Part').checked) {
            var selectedValue = document.getElementById('Part').value;
            getEligibilityCriteria(selectedValue);
            //alert("Selected Radio Button is: " + selectedValue);
        }
        else if (document.getElementById('PartTerm').checked) {
            var selectedValue = document.getElementById('PartTerm').value;
            getEligibilityCriteria(selectedValue);
        }
        else {
            alert('Please select a radio button');
            $state.go('createtimetable');
        }
    }
</script>-->
<script>
    //function display() {
    //    debugger;
    //    $scope.visibility = true;
    //    document.getElementById('vis1').style.display = "none";
    //   // document.getElementById('vis').style.display = "block";
    //}
</script>
<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card" style="margin-bottom:15px;">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4 style="margin-bottom:0px;">Set Elgibilty Configuration</h4></div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-6">
                    <div class="card" style="margin-bottom: 0px;">
                        <div class="card-body" style="padding:10px 20px 0px 20px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Academic Year</label>
                                    <div>
                                        <span class="nullable">
                                            <academic-year-select style="margin-bottom:3px;" ng-model="filter.AcademicYearId" ng-change="getFacultyList()" required></academic-year-select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Faculty</label>
                                    <div>
                                        <span class="nullable">
                                            <facultydd-select style="margin-bottom:3px;" ng-model="filter.FacultyId" ng-change="getProgList(filter.FacultyId)" required></facultydd-select>
                                        </span>
                                    </div>
                                </div>
                                <br />

                                <div class="col-md-4">
                                    <label class="form-label">Programme Name</label>
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="filter.ProgrammeId" ng-options="d.ProgrammeId as d.ProgrammeName for d in ProgList" [value]="{{filter.ProgrammeId}}" ng-change="getProgPartfromProg(filter.ProgrammeId)" class="form-control" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="col-md-4">
                                    <label class="form-label">Programme Part Name</label>
                                    <div>
                                        <span class="nullable">
                                            <select id="partName" ng-model="filter.ProgPartId" ng-options="d.ProgPartId as d.PartName for d in ProgPartList" [value]="{{filter.ProgPartId}}" ng-change="getProgPartTermfromProgPart(filter.ProgPartId)" class="form-control" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>



                                <div class="col-md-4">
                                    <div id="admissionlevel">
                                        At which level you want to configure its Result Status?&nbsp;&nbsp;
                                        <input type="radio" id="Part" name="level_configuration" ng-model="filter.radioValue" ng-click="checkLevel($event,filter)" value="Part" selected>
                                        <label for="html">Part</label>&nbsp;&nbsp;
                                        <input type="radio" id="PartTerm" name="level_configuration" ng-model="filter.radioValue" ng-click="checkLevel($event,filter)" value="PartTerm">
                                        <label for="css">PartTerm</label><br>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row" ng-hide="progpartterm">
                                <div class="col-md-4" style="font-size : 15px">
                                    <label class="form-label">Programme Part Term Name</label>
                                    <span class="nullable">
                                        <select id="ptName" ng-model="filter.ProgPartTermId" ng-options="d.ProgPartTermId as d.PartTermName for d in ProgPartTermList" [value]="{{filter.ProgPartTermId}}" class="form-control" ng-change="getEligibilityCriteria(filter)" required>
                                            <option value="" disabled selected>-- SELECT --</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <br />
                            <br />

                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-primary" ng-click="getEligibilityCriteria(filter)">SUBMIT</button>
                            </div>

                            <!--<div class="col-sm-12 text-center">
        <div class="col-sm-2 offset-md-5">
            <div class="form-group has-sucess">
                <input type="button" value="SUBMIT" ng-click="getEligibilityCriteria(filter)">
            </div>
        </div>
    </div>-->

                            <div class="col-sm-12" id="eligi" ng-hide="elig" style="font-size:15px">
                                Define Eligibility Criteria for <b>{{MainName}}</b>
                            </div>

                            <table class="resulttable" id="eligib" ng-repeat="Eligibility in EligibilityOptions" ng-hide="visibility">
                                <thead>
                                    <tr style="border-color:black">
                                        <th scope="col" rowspan="2" style="vertical-align:top;text-align:center" ;font-size: 12px">{{Eligibility.childName}}</th>
                                        <th scope="col" rowspan="2" style="vertical-align:top;text-align:center" ;font-size: 12px;">Admission Eligibility</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="label in Eligibility.dataToBeSent">
                                        <td scope="col" style="text-align:center;font-size:14px">{{label.eligibilityLabel}}<b></b></td>
                                        <td scope="col" style="text-align: center; font-size: 14px;">
                                            <div class="col-sm-12" style="font-size : 15px">
                                                <input type="checkbox" id="eligibility" ng-model="label.EligStatus" />
                                                <!--<input type="radio" id="eligibility" name="E_nE" ng-model="radio.passselected" value="PASS">-->
                                                <label for="eligible">Eligible</label>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-md-8" ng-hide="visibility">
                                <div>
                                    <label class="form-label">Do you want to consider Eligibility to Start Admissions?</label>
                                    <div>
                                        <span class="nullable">
                                            <input type="radio" id="eligibility" name="eligconsideration" ng-model="filter.isEligConsidered" value=true />
                                            <label for="html">Yes</label>&nbsp;&nbsp;
                                            <input type="radio" id="eligibility" name="eligconsideration" ng-model="filter.isEligConsidered" value=false />
                                            <label for="html">No</label><br>
                                        </span>
                                    </div>

                                    <label class="form-label">Will the Paper Selection be done by Student?</label>
                                    <div>
                                        <span class="nullable">
                                            <input type="radio" id="eligibility" name="paperselbystudent" ng-model="filter.isPaperSelectionByStudent" ng-change="hide(filter.isPaperSelectionByStudent)" value=true />
                                            <label for="html">Yes</label>&nbsp;&nbsp;
                                            <input type="radio" id="eligibility" name="paperselbystudent" ng-model="filter.isPaperSelectionByStudent" ng-change="hide(filter.isPaperSelectionByStudent)" value=false />
                                            <label for="html">No</label><br>
                                        </span>
                                    </div>

                                    <label class="form-label">Will the Paper selection be done before Fee Payment?</label>
                                    <div>
                                        <span class="nullable">
                                            <input type="radio" id="eligibility" name="paperselbeforefees" ng-model="filter.IsPaperSelectionBeforeFees" ng-value=true ng-disabled="disable"/>
                                            <label for="html">Yes</label>&nbsp;&nbsp;
                                            <input type="radio" id="eligibility" name="paperselbeforefees" ng-model="filter.IsPaperSelectionBeforeFees" ng-value=false ng-disabled="disable"/>
                                            <label for="html">No</label><br>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-primary" id="vis" ng-click="sendData(filter,EligibilityOptions)">SUBMIT</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
