<style>
    .card-block .pagination li {
        margin-right: 10px !important;
    }



    .card .card-block ul {
        float: right !important;
    }


</style>

<!-- Page body start -->
<div class="page-body" ng-init="setValue();">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-bottom:0px;">
                <div class="card-header">
                    <div>

                        <div class="float-left"> 
                            <h4 style="margin-bottom:0px;">Exam Event</h4>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row clearfix">
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="margin-bottom: 100px;">
                        <div class="card-header" style="padding:16px 20px;border-bottom:1px solid rgba(0,40,100,0.12);">
                            <h3 class="card-title" style="font-size:18px;">Exam Event Detail</h3>
                        </div>
                        <div class="card-body" style="padding:10px 20px 20px 20px;">
                            <label class="form-label">Academic Year</label>
                            <div>
                                <span class="nullable">
                                    <academic-select style="margin-bottom:3px;" ng-model="Examevent.AcademicYearId"></academic-select>
                                </span>
                            </div>

                            <label class="form-label">Month</label>
                            <div>
                                <span class="nullable">
                                    <months-select style="margin-bottom:3px;" ng-model="Examevent.Month"></months-select>
                                </span>
                            </div>

                            <label class="form-label">Year</label>
                            <div>
                                <span class="nullable">
                                    <years-select style="margin-bottom:3px;" ng-model="Examevent.Year"></years-select>
                                </span>
                            </div>

                            <div layout="row" style="height:25px;">
                                <label class="form-label">Display Month</label>
                                <span flex></span>
                                <p class="input-length">{{Examevent.DisplayName.length}} / 50</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="example-text-input" placeholder="Enter Display Month" ng-model="Examevent.DisplayName" limit-to="50">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" ng-click="saveMstExam()" class="btn btn-success">Submit</button>
                            <button class="btn btn-disabled" ng-click="cancelMstExam()">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-6">
                    <div class="card">
                        <div class="card-header" style="padding:16px 20px;border-bottom:1px solid rgba(0,40,100,0.12);">
                            <h3 class="card-title" style="font-size:18px;">List of Exam Event</h3>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" ng-table="ExameventTableParams" show-filter="true">
                                    <tbody>
                                        <tr style="text-align:center" ng-repeat="Examevent in $data">
                                            <td data-title="'Academic Year.'" filter="{'AcademicYearCode':'text'}" sortable="'AcademicYearCode '" style="border-top:none;">
                                                <label>{{Examevent.AcademicYearCode}}</label>
                                            </td>
                                            <td data-title="'Exam Event'" filter="{'Month': 'text'}" sortable="'Month'" style="border-top:none;">
                                                <label>{{Examevent.MonthDisplay}} - {{Examevent.Year}}</label>
                                            </td>
                                            <td data-title="'Display Month'" filter="{'DisplayName': 'text'}" sortable="'DisplayName'" style="border-top:none;">
                                                <label>{{Examevent.DisplayName}}</label>
                                            </td>

                                            <td data-title="'Actions'" style="border-top:none;">
                                                <div layout="row" style="padding:0px;">
                                                    <span flex></span>
                                                    <button type="button" ng-click="editMstExam(Examevent)" class="tabledit-edit-button btn btn-primary waves-effect waves-light"><span class="icofont icofont-ui-edit"></span></button>
                                                    <button title="Show" ng-click="HideExamEvent(Examevent)" class="btn btn-success ml-2 button-size" ng-hide="Examevent.IsActive"><i class="fas fa-toggle-off"></i></button>
                                                    <button title="Hide" ng-click="ShowExamEvent(Examevent)" class="btn btn-danger ml-2 button-size" ng-show="Examevent.IsActive"><i class="fas fa-toggle-on"></i></button>
                                                    <!--<button title="Delete" ng-click="removeItem(Examevent)" class="md-raised" style="min-width:40px;background-color:#f00e0e;color:white"><i class="fa fa-trash-o"></i></button> -->
                                                    <span flex></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

