<style>
    .md-dialog-is-showing {
        top: auto !important;
    } 
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="FEECONFIGCtrl" ng-init="getFEECONFIGList()">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Fee Configuration  {{FEECONFIG.InstancePartTermName}}</h4>
                </div>
                <div class="card-block">
                    <!-- Basic Form Inputs card start -->
                    <form ng-model="FEECONFIG">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" id="example-2" ng-table="FEECONFIGTableParams" show-filter="true">
                                        <tbody>
                                            <tr ng-repeat="FEECONFIG in $data">
                                                <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                                <td data-title="'Faculty Name'" filter="{FacultyName: 'text'}" sortable="'FacultyName'" style="border-top:none;"><label>{{FEECONFIG.FacultyName}}</label></td>
                                                <td data-title="'Branch Name'" filter="{BranchName: 'text'}" sortable="'BranchName'" style="border-top:none;"><label>{{FEECONFIG.BranchName}}</label></td>
                                                <td data-title="'Instance Part Term / Semester Name'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style="border-top:none;"><label>{{FEECONFIG.InstancePartTermName}}</label></td>
                                                <td data-title="'Fee Type Name'" filter="{FeeTypeName: 'text'}" sortable="'FeeTypeName'" style="border-top:none;"><label>{{FEECONFIG.FeeTypeName}}</label></td>
                                                <td data-title="'Actions'">
                                                    <div layout="row">
                                                        <span flex></span>
                                                        <button class="btn btn-success" ng-click="PublishData(FEECONFIG)" ng-show="FEECONFIG.IsVerified" ng-hide="FEECONFIG.IsPublished || FEECONFIG.IsVerifiedCheck">Publish </button>
                                                        <label ng-show="FEECONFIG.IsPublished">Published</label>
                                                        <label ng-show="FEECONFIG.IsVerifiedCheck">Need to Verified</label>
                                                        <!--<button type="button" ng-click="displayFEECONFIG(FEECONFIG)" class="btn btn-info btn-icon mr-2" data-target="#large-Modal" data-toggle="modal"><span class="icofont ion-eye"></span></button>-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    <!-- Basic Form Inputs card end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page body end -->