<script>
    //function select() {
    //    //debugger;
    //    //checkboxes = document.getElementsByName('admission');
    //    //for (var i = 0, n = checkboxes.length; i < n; i++) {
    //    //    checkboxes[i].checked = true;
    //    //}
    //}
</script>


<div class="page-body" ng-init="getFacultyList()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card" style="margin-bottom:15px;">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4 style="margin-bottom:0px;">Start Student Admission</h4></div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-6">
                    <div class="card" style="margin-bottom: 0px;">
                        <div class="card-body" style="padding:10px 20px 0px 20px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Academic Year</label>
                                    <div>
                                        <span class="nullable">
                                            <academic-year-select style="margin-bottom:3px;" ng-model="filter.AcademicYearId" ng-change="getFacultyList()"></academic-year-select>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="col-md-4">
                                    <label class="form-label">Institute</label>
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="filter.InstituteId" ng-options="d.InstituteId as d.InstituteName for d in InstList" [value]="{{filter.InstituteId}}" ng-change="getProgList(filter.InstituteId)" class="form-control" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>-->

                                <div class="col-md-4">
                                    <label class="form-label">Faculty</label>
                                    <div>
                                        <span class="nullable">
                                            <facultydd-select style="margin-bottom:3px;" ng-model="filter.FacultyId" ng-change="getProgList(filter.FacultyId)" required></facultydd-select>
                                        </span>
                                    </div>
                                </div>

                                <br />

                                <div class="col-md-4">
                                    <label class="form-label">Programme Name</label>
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="filter.ProgrammeId" ng-options="d.ProgrammeId as d.ProgrammeName for d in ProgList" [value]="{{filter.ProgrammeId}}" ng-change="getProgPartfromProg(filter.ProgrammeId)" class="form-control" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="col-md-4">
                                    <label class="form-label">Programme Part Name</label>
                                    <div>
                                        <span class="nullable">
                                            <select id="partName" ng-model="filter.ProgPartId" ng-options="d.ProgPartId as d.PartName for d in ProgPartList" [value]="{{filter.ProgPartId}}" ng-change="getProgPartTermfromProgPart(filter.ProgPartId)" class="form-control" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <!--<div class="col-md-8">
                                    <div>
                                        <label class="form-label">Do you want to consider Eligibility for beginning Admissions?</label>
                                        <div>
                                            <span class="nullable">
                                                <input type="radio" id="eligibility" name="eligconsideration" ng-model="filter.isEligConsidered" ng-change="hide()" value=1 />
                                                <label for="html">Yes</label>&nbsp;&nbsp;
                                                <input type="radio" id="eligibility" name="eligconsideration" ng-model="filter.isEligConsidered" ng-change="hide()" value=0 />
                                                <label for="html">No</label><br>
                                            </span>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <br />
                            <br />

                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-primary" id="vis" ng-click="sendData(filter)">SUBMIT</button>
                            </div>

                            <table class="resulttable" id="eligib" ng-hide="store">
                                <thead>
                                    <tr style="border-color:black">
                                        <th scope="col" rowspan="2" style="vertical-align:top;text-align:center" ;font-size: 12px">
                                            <input type="checkbox" id="eligibility" ng-click="select()" /> Select
                                        </th>
                                        <th scope="col" rowspan="2" style="vertical-align:top;text-align:center" ;font-size: 12px">Specialisation</th>
                                        <th scope="col" rowspan="2" style="vertical-align:top;text-align:center" ;font-size: 12px;">Student Count with Mapped Fee Category</th>
                                        <th scope="col" rowspan="2" style="vertical-align:top;text-align:center" ;font-size: 12px;">Student Count with UnMapped Fee Category (Please click to set the Fee Category)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="StudentCountforBranch in EligibleStudentCountforBranch" style="border-color:black">
                                        <td scope="col" style="text-align: center; font-size: 14px;">
                                            <div class="col-sm-12" style="font-size : 15px">
                                                <input type="checkbox" id="eligibility" name="admission" ng-model="StudentCountforBranch.checkvalue" value="true" />
                                                <!--<input type="radio" id="eligibility" name="E_nE" ng-model="radio.passselected" value="PASS">-->
                                                <label for="eligible">Select</label>&nbsp;&nbsp;
                                            </div>
                                        </td>
                                        <td scope="col" style="vertical-align:top;text-align:center" ;font-size: 12px">{{StudentCountforBranch.BranchName}}</td>
                                        <td scope="col" style="vertical-align:top;text-align:center" ;font-size: 12px;">{{StudentCountforBranch.mappedstudentcount}}</td>
                                        <td align="center" ng-if="StudentCountforBranch.unmappedstudentCount != 0">
                                            <a ui-sref="StudentPendingForFeeCategoryMapping" ng-click="getunmappedfeelist(StudentCountforBranch.SpecialisationId)">{{StudentCountforBranch.unmappedstudentCount}}</a>
                                            <!--<a href="/index.html#/dashboard/StudentPendingForFeeCategoryMapping?SpecId={{StudentCountforBranch.SpecialisationId}}">{{StudentCountforBranch.unmappedstudentCount}}</a>-->
                                        </td>
                                        <td align="center" ng-if="StudentCountforBranch.unmappedstudentCount == 0">
                                            {{StudentCountforBranch.unmappedstudentCount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--div  ng-hide="store">
                                <label class="form-label">Please choose a level of Admission.</label>
                                <div>
                                    <span class="nullable">
                                        <input type="radio" id="eligibility" name="admlevel" ng-model="admlevel" value="Part" />
                                        <label for="html">Part</label>&nbsp;&nbsp;
                                        <input type="radio" id="eligibility" name="admlevel" ng-model="admlevel" value="PartTerm"/>
                                        <label for="html">Part Term</label><br>
                                    </span>
                                </div>
                            </div>-->


                            <div class="col-sm-12 text-center" ng-hide="store">
                                <button type="button" class="btn btn-primary" id="vis" ng-click="sendStudentList(filter,EligibleStudentCountforBranch)">START ADMISSION</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>