
<style>
    .md-dialog-is-showing {
        top: auto !important;
    }

    .card-block .pagination li {
        margin-right: 10px !important;
    }

    .card .card-block ul {
        float: right !important;
    }
    table {
        page-break-before: always;
    }
</style>

<div id="overlay">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </div>
</div>

<script>

    function PrintInwardStatisticsPdf() {
        var sTable = document.getElementById('PrintInwardStatisticsList').innerHTML;
        datetime = new Date().toLocaleDateString();

        var style = "<style>";
        style = style + "table {width: 100%;font: 12px Calibri;}";
        style = style + "table, th, td {border: solid 1px black; border-collapse: collapse;";
        style = style + "padding: 2px 3px;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', 'height=700,width=700');

        win.document.write('<html><head>');
        //win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        //win.document.write(datetime);
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

</script>

<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Exam-Form Inward Statistics</h4></div>
                    </div>
                    <div class="float-right" ng-if="InwardStatListByStuCountFlag == true">
                        &nbsp;&nbsp;<button type="button" id="btnback" class="btn btn-info" ng-click="backToInwardStatList()" style="padding: 5px 15px 5px 15px;border-radius:30px;">Back to list</button>
                    </div>

                </div>

                <div class="card-block" ng-if="InwardStatListByStuCountFlag == false">
                    <div class="col-md-12 offset-md-2">
                        <form ng-model="InwdStat" novalidate>
                            <div class="form-group row" ng-init="getExamEventMasterList()">
                                <div class="col-sm-2">Exam Event<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="InwdStat.ExamMasterId" ng-options="d.ExamMasterId as d.DisplayName for d in ExamEventList" ng-change="getFacultyList()" [value]="InwdStat.ExamMasterId" class="form-control" name="ExamMasterdropdown" required>
                                                <option value="" disabled selected>-- Select Exam Event --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Faculty<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="InwdStat.FacultyId" ng-options="d.Id as d.FacultyName for d in FacultyList  | orderBy:'FacultyList'" class="form-control" ng-change="getMstProgrammeList()" [value]="InwdStat.FacultyId" name="Facultydropdown" required>
                                                <option value="" disabled selected>-- Select Faculty --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2">Programme<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="InwdStat.ProgrammeId" ng-options="d.ProgrammeId as d.ProgrammeName for d in ProgrammeList" class="form-control" id="Programme" ng-change="getSpecialisationList()" [value]="InwdStat.ProgrammeId" name="Programmedropdown" required>
                                                <option value="" disabled selected>-- Select Programme Name --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Branch<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="InwdStat.SpecialisationId" ng-options="d.SpecialisationId as d.BranchName for d in SpecialisationList" class="form-control" ng-change="getProgrammePartList()" [value]="InwdStat.SpecialisationId" id="Specialisation" name="Specialisationdropdown" required>
                                                <option value="" disabled selected>-- Select Branch Name --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Programme Part<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="InwdStat.ProgrammePartId" ng-options="d.Id as d.PartName for d in ProgrammePartList" class="form-control" ng-change="getProgrammePartTermList()" [value]="InwdStat.ProgrammePartId" id="ProgrammePart" name="ProgrammePartdropdown" required>
                                                <option value="" disabled selected>-- Select Part --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">Part Term<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="InwdStat.ProgrammePartTermId" ng-options="d.Id as d.PartTermName for d in ProgrammePartTermList" class="form-control" [value]="InwdStat.ProgrammePartTermId" id="ProgrammePartTerm" name="ProgrammePartTermdropdown" required>
                                                <option value="" disabled selected>-- Select Part Term --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="button" ng-click="getInwardStatList(InwdStat.ExamMasterId,InwdStat.SpecialisationId,InwdStat.ProgrammePartTermId)" class="btn btn-success">&nbsp; Submit</button>

                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>

                <div class="card" ng-if="InwardStatListFlag == true">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table id="InwardStatId" class="table table-striped table-bordered" ng-table="IWDataTableParams" show-filter="true">
                                <thead style="vertical-align: middle">
                                    <tr>
                                        <th style="width:auto;">Sr. No</th>
                                        <th style="width:auto;">Paper Code</th>
                                        <th style="width:auto;">Paper Name</th>
                                        <th style="width:auto;">Exam Date</th>
                                        <th style="width:auto;">Slot Name</th>
                                        <th style="width:auto;">Total Student</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align:center" ng-repeat="IWData in $data">

                                        <td data-title="'Sr.No'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;"><label>{{IWData.IndexId}}</label></td>
                                        <td data-title="'Paper Code'" filter="{PaperCode: 'text'}" sortable="'PaperCode'" style="border-top:none;">
                                            <label>{{IWData.PaperCode}}</label>
                                        </td>
                                        <td data-title="'Paper Name'" filter="{PaperName: 'text'}" sortable="'PaperName'" style="border-top:none;text-align:left;">
                                            <label>{{IWData.PaperName}}</label>
                                        </td>
                                        <td data-title="'Exam Date'" filter="{ExamDate: 'text'}" sortable="'ExamDate'" style="border-top:none;">
                                            <label>{{IWData.ExamDate}}</label>
                                        </td>
                                        <td data-title="'Slot Name'" filter="{SlotName: 'text'}" sortable="'SlotName'" style="border-top:none;">
                                            <label>{{IWData.SlotName}}</label>
                                        </td>
                                        <td data-title="'StudentCount'" filter="{StudentCount: 'text'}" sortable="'StudentCount'" style="border-top:none;">
                                            <span ng-if="IWData.StudentCount >'0'">
                                                <a ui-sref="StudentCount" ng-click="getInwardStatListByStuCount(InwdStat.ExamMasterId,InwdStat.SpecialisationId,InwdStat.ProgrammePartTermId,IWData.MstPaperId,IWData.PaperCode,IWData.PaperName,IWData.ExamDate,IWData.SlotName,IWData.StudentCount);">
                                                    <label style="color:blue;cursor:pointer;">{{IWData.StudentCount}}</label>
                                                </a>
                                            </span>
                                            <span ng-if="IWData.StudentCount == '0'">  <label>{{IWData.StudentCount}}</label></span>
                                        </td>
</table>
                            <div ng-if="DataExistsInwardStat == true">
                                <div style="color:red;margin:1px;text-align:center;padding:10px;">No Records available for Particular Programme.</div>
                            </div>
                        </div>

                    </div>

                </div>

                <div ng-if="InwardStatListByStuCountFlag == true">

                    <div class="card-header">
                        <h5>Event : {{EventName}} </h5><br />
                        <h5>Faculty : {{FacultyName}} </h5><br />
                        <h5>Programme : {{PartName}} - {{BranchName}} - {{PartTermName}}</h5><br />
                        <h5>Paper Code : {{PaperCode}} </h5><br />
                        <h5>Paper Name : {{PaperName}} </h5><br />
                        <h5>Exam Date : {{ExamDate}} </h5><br />
                        <h5>Slot Name: {{SlotName}} </h5><br />
                        <h5>Total Student : {{StudentCount}} </h5>

                        <div class="float-right">
                            &nbsp;&nbsp;<button type="button" class="btn btn-info" id="btPrint" value="Print" onclick="PrintInwardStatisticsPdf()" style="padding: 5px 15px 5px 15px;border-radius:30px;">Download PDF</button>
                            &nbsp;&nbsp;<button type="button" id="btnback" class="btn btn-info" ng-click="ExportToExcelInwardStatisticsList()" style="padding: 5px 15px 5px 15px;border-radius:30px;">Export to Excel</button>
                        </div>
                        <br />
                    </div>

                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="example-2" ng-table="IWStuDataTableParams" show-filter="true">
                                <tbody ng-repeat="IWStuData in $data">
                                    <tr>
                                        <td data-title="'Sr.No'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center;"><label>{{IWStuData.IndexId}}</label></td>
                                        <td data-title="'PRN'" filter="{PRN: 'text'}" sortable="'PRN'" style="border-top:none;text-align:center;"><label>{{IWStuData.PRN}}</label></td>
                                        <td data-title="'Student Name'" filter="{StudentName: 'text'}" sortable="'StudentName'" style="border-top: none; text-align:left;"><label>{{IWStuData.StudentName}}</label></td>
                                        <td data-title="'Mobile No'" filter="{MobileNo: 'text'}" sortable="'MobileNo'" style="border-top:none;text-align:center;"><label>{{IWStuData.MobileNo}}</label></td>
                                        <td data-title="'Email-Id'" filter="{EmailId: 'text'}" sortable="'EmailId'" style="border-top:none;text-align:left;"><label>{{IWStuData.EmailId}}</label></td>
                                        <td data-title="'Appearance Type'" filter="{AppearanceType: 'text'}" sortable="'AppearanceType'" style="border-top:none;text-align:center;"><label>{{IWStuData.AppearanceType}}</label></td>
                                        <td data-title="'Inward Status'" filter="{InwardStatus: 'text'}" sortable="'InwardStatus'" style="border-top:none;text-align:center;"><label>{{IWStuData.InwardStatus}}</label></td>
                                        <td data-title="'Inward By Timestamp'" filter="{InwardByTimestamp: 'text'}" sortable="'InwardByTimestamp'" style="border-top:none;text-align:center;"><label>{{IWStuData.InwardByTimestamp}}</label></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div ng-if="DataExistsInwardStatStudent == true">
                                <div style="color:red;margin:1px;text-align:center;padding:10px;">No Records available for Particular Programme.</div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="PrintInwardStatisticsList">
        <br />
        <div class="card" style="break-after:page;" ng-show="false">
            <div class="card-block">

                <table border="1" class="table table-bordered table-responsive" style="border-style:solid;text-align: center;" width="100%" template-pagination="none">
                    <tr>
                        <td colspan="7">
                            <img style="float:left;" src="assets/images/Msu-Images/Msu_baroda_logo.png" height="100px" width="100px" />
                            <h4 style="text-align:center;">
                                <br />
                                <b>
                                    Inward Statistics for {{EventName}} <br />
                                    {{FacultyName}}<br />
                                    {{PartName}} - {{BranchName}} - {{PartTermName}}<br />
                                    The Maharaja Sayajirao University of Baroda<br />
                                    Fatehgunj, Vadodara-390 002, Gujarat (India)<br />
                                </b>
                            </h4><br />
                        </td>
                    </tr>

                </table>

                <table border="1" class="table table-bordered table-responsive" style="border-style:solid;text-align: center;" width="100%" template-pagination="none">
                    <tbody>
                        <tr style="text-align:left;">
                            <td colspan="2">
                                <b>
                                    Paper Name - [Code] : 
                                </b>
                                <span ng-if="PaperName != null && PaperName != ''">
                                    {{PaperName}} - [{{PaperCode}}]
                                </span>
                                <span ng-if="PaperName == null || PaperName == ''">
                                    --
                                </span>
                            </td>
                        </tr>
                        <tr style="text-align:left;">
                            <td width="423">
                                <b>
                                    Exam Date :
                                </b>
                                <span ng-if="ExamDate != null && ExamDate !=''">
                                    {{ExamDate}}
                                </span>
                                <span ng-if="ExamDate == null || ExamDate == ''">
                                    --
                                </span>
                            </td>
                            <td width="768">
                                <b>
                                    Slot Name :
                                </b>
                                <span ng-if="SlotName != null && SlotName != ''">
                                    {{SlotName}}
                                </span>
                                <span ng-if="SlotName == null || SlotName == ''">
                                    --
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <table border="1" class="print-friendly" style="border-style:solid;text-align: center;" width="100%" template-pagination="none">
                    <tr>
                        <td width="131"><b>Sr No.</b></td>
                        <td width="219"><b>PRN</b></td>
                        <td width="168"><b>Student Name</b></td>
                        <td width="168"><b>Mobile No</b></td>
                        <td width="144"><b>Email-Id</b></td>
                        <td width="162"><b>Appearance Type</b></td>
                        <td width="93"><b>Inward Status</b></td>
                        <td width="94"><b>Inward By Timestamp</b></td>
                    </tr>
                    <tbody ng-repeat="IWSList in InwardStatListByStuCount">
                        <tr style="page-break-inside: avoid !important;">
                            <td>{{IWSList.IndexId}}</td>
                            <td>{{IWSList.PRN}}</td>
                            <td>{{IWSList.StudentName}}</td>
                            <td>{{IWSList.MobileNo}}</td>
                            <td>{{IWSList.EmailId}}</td>
                            <td>{{IWSList.AppearanceType}}</td>
                            <td>{{IWSList.InwardStatus}}</td>
                            <td>{{IWSList.InwardByTimestamp}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

<script>
    $(function () {
        var displaysTime = $('#divTime');
        displaysTime.text(moment.utc('27/04/2017', 'DD/MM/YYYY', true).toISOString());
    });
</script>