<style>
    .md-dialog-is-showing {
        top: auto !important;
    }

    .button-size {
        width: 11rem !important;
    }

    .card-block .pagination li {
        margin-right: 10px !important;
    }

    .card .card-block ul {
        float: right !important;
    }

    td {
        white-space: normal !important;
    }

    table {
        table-layout: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="LaunchResultConfigurationCtrl" ng-init="getProgrammeStatsListByInstIdAndAcdId()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <h4>Launch Structure Report</h4>
                </div>

                <div class="card-block">

                    <div class="col-md-12 offset-md-2">
                        <form ng-model="LaunchResConfig">

                            <div class="form-group row" ng-init="getAcademicList()">
                                <div class="col-sm-2">Select Academic Year</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="LaunchResConfig.AcademicYearId" ng-options="d.Id as d.AcademicYearCode for d in AcadList" [value]="LaunchProgInstPartTerm.AcademicYearId" class="form-control" name="Acaddropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-init="getFacultyList()">
                                <div class="col-sm-2">Select Faculty: </div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="LaunchResConfig.FacultyId" ng-options="d.Id as d.FacultyName for d in FacList" [value]="LaunchProgInstPartTerm.FacultyId" class="form-control" name="Facdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="button" ng-click="getInstancePartTermByFacIdAndAcadIdResConfig()" class="btn btn-success">&nbsp; Submit</button>
                                        <!--<button class="btn btn-disabled disabled" ng-click="resetSelection()">Cancel</button>-->

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="ResProgInstPartTermTableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="LaunchResConfig in $data">
                                            <td data-title="'Sr.No'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center;"><label>{{LaunchResConfig.IndexId}}</label></td>
                                            <!--<td data-title="'Faculty Code'" filter="{FacultyCode: 'text'}" sortable="'FacultyCode'" style="border-top:none;"><label>{{LaunchResConfig.FacultyCode}}</label></td>-->
                                            <td data-title="'Instance Part Term Name'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style="border-top:none;"><label>{{LaunchResConfig.InstancePartTermName}}</label></td>
                                            <td data-title="'Result Calculation'" filter="{ResCalculation: 'text'}" sortable="'ResCalculation'" style="border-top:none; text-align:center;">
                                                <input type="checkbox" id="IsLaunchedcalc" ng-model="LaunchResConfig.ResCalculation" value="true" ng-disabled="LaunchResConfig.ResCalculationSts" >
                                            </td>
                                            <td data-title="'ResCourseEvalSystem'" filter="{ResCourseEvalSystem: 'text'}" sortable="'ResCourseEvalSystem'" style="border-top:none; text-align:center;">
                                                <input type="checkbox" id="IsLaunchedeval" ng-model="LaunchResConfig.ResCourseEvalSystem" value="true" ng-disabled="LaunchResConfig.ResCourseEvalSystemSts">
                                            </td>
                                            <td data-title="'ResExemptionMarkConfig'" filter="{ResExemptionMarkConfig: 'text'}" sortable="'ResExemptionMarkConfig'" style="border-top:none; text-align:center;">
                                                <input type="checkbox" id="IsLaunchedexem" ng-model="LaunchResConfig.ResExemptionMarkConfig" value="true" ng-disabled="LaunchResConfig.ResExemptionMarkConfigSts">
                                                
                                            </td>


                                            <td data-title="'Actions'">
                                                <div layout="row">
                                                    <span flex></span>

                                                    <!--<button type="button" ng-click="displayFullData(LaunchProgInstPartTerm)" class="btn btn-info btn-icon mr-2" data-target="#large-Modal" data-toggle="modal"><span class="icofont ion-eye"></span></button>-->
                                                    <!--<button title="Hide" ng-click="LaunchProgPartTerm(LaunchProgInstPartTerm)" class="btn btn-info ml-2 button-size" ng-hide="LaunchProgInstPartTerm.Islaunch" ng-if="LaunchProgInstPartTerm.IsApprovedStructureReportSts == 'APPROVED' && LaunchProgInstPartTerm.IsApprovedAssessmentReportSts == 'APPROVED'"><i class="fa fa-toggle-on"></i>Click to Launch</button>-->
                                                    <button title="Hide" ng-click="LaunchResConfiguration(LaunchResConfig)" ng-disabled="disableResultConig" class="btn btn-info ml-2 button-size"><i class="fa fa-toggle-on"></i>Click to Launch</button>
                                                    <!--<button class="btn btn-info ml-2 button-size" disabled ng-if="LaunchProgInstPartTerm.IsApprovedStructureReportSts == 'NOT-APPROVED' || LaunchProgInstPartTerm.IsApprovedStructureReportSts == 'PENDING' || LaunchProgInstPartTerm.IsApprovedAssessmentReportSts == 'NOT-APPROVED' || LaunchProgInstPartTerm.IsApprovedAssessmentReportSts == 'PENDING'"><i class="fa fa-toggle-on"></i>Click to Launch</button>-->
                                                    <button class="btn btn-info ml-2 button-size" disabled ng-if="LaunchProgInstPartTerm.IsApprovedStructureReportSts == 'NOT-APPROVED' || LaunchProgInstPartTerm.IsApprovedStructureReportSts == 'PENDING'"><i class="fa fa-toggle-on"></i>Click to Launch</button>
                                                    <button title="Show" ng-click="UnLaunchProgPartTerm(LaunchProgInstPartTerm)" class="btn btn-danger ml-2 button-size" ng-show="LaunchProgInstPartTerm.Islaunch"><i class="fa fa-toggle-off"></i>Click to UnLaunch</button>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
