<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <h4>Application Fee Configuration</h4>
                </div>
                <div class="card-block">
                    <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light">Back</button><br /><br />
                    <form ng-model="APFee" name="APFeeAdd">
                        <div class="form-group row" ng-init="IncAcademicYearListGet()">
                            <label for="Activity" class="col-sm-2 col-form-label">Academic Year Code <span style="color:red">*</span>:</label>
                            <div class="col-sm-8 col-lg-10">
                                <span class="nullable">
                                    <select class="form-control" ng-model="APFee.AcademicYearId" ng-options="d.Id as d.AcademicYearCode for d in AcademicList" ng-change="getFCList()" [value]="APFee.AcademicYearId" name="AcademicYear" required>
                                        <option value="" disabled selected>--SELECT--</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Activity" class="col-sm-2 col-form-label">Fee Type Name <span style="color:red">*</span>:</label>
                            <label for="Activity" class="col-sm-2 col-form-label">Application Fee</label>
                            <!--<div class="col-sm-8 col-lg-10">
                                <span class="nullable">
                                    <select name="FeeType" ng-model="APFee.FeeTypeId" ng-options="d.Id as d.FeeTypeName for d in FTList" [value]="APFee.FeeTypeName" ng-change="getFCList()" class="form-control" required>
                                        <option value="" disabled selected>--SELECT--</option>
                                    </select>
                                </span>
                            </div>-->
                        </div>
                        <div class="form-group row">
                            <label for="Activity" class="col-sm-2 col-form-label">Fee Category Name <span style="color:red">*</span>:</label>
                            <div class="col-sm-8 col-lg-10">
                                <span class="nullable">
                                    <select name="FeeCategoryName" ng-model="APFee.FeeCategoryId" ng-options="d.FeeCategoryId as d.FeeCategoryName for d in FCList"  class="form-control" >
                                        <option value="" selected disabled>--SELECT--</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Amount <span style="color:red">*</span>:</label>
                            <div class="col-sm-10 col-lg-9 col-md-9">
                                <input type="number" id="textamount" class="form-control" ng-model="APFee.Amount" placeholder="Please Enter Amount" name="Amount" required>
                                <span ng-show="APFeeAdd.Amount.$touched && APFeeAdd.Amount.$invalid" style="color:red">The Field is required.</span>
                            </div>
                        </div>
                        <!--<div class="form-group row" ng-init="getFCList()">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" show-filter="true">
                                    <tr>
                                        <th>Attach Fee Category</th>
                                        <th>Fee Category Name</th>
                                        <th>Amount</th>

                                    </tr>
                                    <tr ng-repeat="FC in newCategorylist">
                                        <td><input ng-model="FC.FeeCat" type='checkbox' ng-change="CheckFee()" /></td>
                                        <td><label>{{FC.FeeCategoryName}}</label></td>--><!--{{CheckFee()}}-->
                                        <!--<td><input ng-model="FC.IsInstalmentGiven" type='checkbox' ng-disabled="FC.FeeState" /></td>-->
                                        <!--<td><input type="number"/></td>
                                    </tr>

                                </table>
                            </div>
                        </div>-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-success" ng-click="APPFeeAdd()">Add </button>
                                <button class="btn btn-disabled disabled" ng-click="cancelAPFee()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-block" ng-init="MstApplicationFeeGet()">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="example-2" ng-table="ApplicationFeeTableParams" show-filter="true">
                            <tbody>
                                <tr ng-repeat="APFee in $data">
                                    <td data-title="'Academic Year'" filter="{AcademicYearCode: 'text'}" sortable="'AcademicYearCode'" style="text-align:center;"><label>
    {{APFee.AcademicYearCode }}

</label></td>
                                    <td data-title="'Fee Type Name'" filter="{FeeTypeName: 'text'}" sortable="'FeeTypeName'" style="text-align:center;"><label>{{APFee.FeeTypeName}}</label></td>
                                    <td data-title="'Fee Category Name'" filter="{FeeCategoryName: 'text'}" sortable="'FeeCategoryName'" style="text-align:center;"><label>{{APFee.FeeCategoryName}}</label></td>
                                    <td data-title="'Amount'" filter="{Amount: 'text'}" sortable="'Amount'" style="text-align:center;"><label>{{APFee.Amount}}</label></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

