<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Central Admission Committee Data:</h4></div>
                        <div class="float-right"> <button type="button" ng-click="backToFacultyList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Back</button></div>
                    </div>
                </div>

                <div class="card-block">
                    <div class="col-md-12 offset-md-2">
                        <form name="centralAdm">


                            <div class="form-group row" ng-init="getFacultyById()">
                                <div class="col-sm-2"><b>Faculty Name:</b></div>
                                <div class="col-sm-6" ng-model="CentralAdmission.FacultyId">
                                    <div>
                                        <span class="nullable">
                                            <label>{{Institute.FacultyName}} - {{Institute.Id}}</label>

                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-init="getAcademicYear()">
                                <div class="col-sm-2"><b>Academic Year Code:</b> <span style="color:red;"> *</span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="CentralAdmission.AcademicYearId" ng-options="d.Id as d.AcademicYearCode for d in AcademicYearList" class="form-control" name="Facdropdown" ng-change="getProgrammeListByInstIdAcadId()" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2"><b>Programme Name:</b><span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="CentralAdmission.ProgrammeId" ng-options="d.ProgrammeId as d.ProgrammeName for d in ProgrammeList" ng-change="getBranchListByProgId()" class="form-control" name="Progdropdown" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2"><b>Branch Name:</b><span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="CentralAdmission.SpecialisationId" ng-options="d.SpecialisationId as d.BranchName for d in BranchList" ng-change="getInstanceNameList()" class="form-control" name="Progdropdown" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2"><b>Program Instance Part Term Name:</b><span style="color:red;"> *</span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="CentralAdmission.ProgrammeInstancePartTermId" ng-options="d.Id as d.InstancePartTermName for d in InstanceNameList" class="form-control" name="Facdropdown" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-init="getMstAdmissionCommittee()">
                                <div class="col-sm-2"><b>Admission Committee Name:</b><span style="color:red;"> *</span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="CentralAdmission.AdmissionCommitteeId" ng-options="d.Id as d.CommitteeName for d in MstAdmissionCommitteeList" class="form-control" name="Facdropdown" required>
                                                <option value="" disabled selected>-- SELECT --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" ng-click="ShowModeOfApplicationFlag()">Submit</button>
                                        <button class="btn btn-disabled disabled" ng-click="resetCentralAdmission()">Cancel</button>
                                    </div>
                                </div>
                            </div>




                        </form>
                    </div>


                    <div class="card-block" ng-show="ShowModeOfUploadFlag">
                        <div class="col-md-12 offset-md-2">
                            <div class="form-group row">
                                <div class="col-sm-2"><b>Mode Of upload EnrollNo/AllotmentNo:</b><span style="color:red;"> *</span></div>
                                <div class="col-sm-6">

                                    <ul>
                                        <li>
                                            <input type="radio" name="CentralAdmission" value="Excel" ng-click="displayUploadExcel()" ng-model="CentralAdmission.UploadExcel" required>
                                            Do you want to Import Data From Excel?:
                                        </li>


                                        <li>
                                            <input type="radio" name="CentralAdmission" value="Manual" ng-click="displayManualDetails()" ng-model="CentralAdmission.Manual" required>
                                            Do You want to Enter Data Manually?:
                                        </li>


                                    </ul>


                                </div>
                            </div>

                            <div ng-show="IsManualVisible">
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        Applicant Name:
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="CentralAdmission.ApplicantName" placeholder="Enter ApplicantName Name"><br />

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        Mobile No:
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="omE" name="om" type="text" placeholder="Type your Mobile No" ng-minlength="10" ng-maxlength="10" allow-pattern="\d"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               maxlength="10" class="form-control" ng-model="CentralAdmission.MobileNo">
                                        <span ng-show="((centralAdm.om.$error.minlength || centralAdm.om.$error.maxlength) && centralAdm.om.$dirty) " style="color:red;">
                                            Only 10 digits.
                                        </span>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        Enrollment/Allotment/Application No:<span style="color:red;"> * </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="CentralAdmission.AllotmentNo" placeholder="Enter Enroll No" required><br />

                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        MeritNo/Reference No:<span style="color:red;"> * </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="CentralAdmission.MeritNo" placeholder="Enter Merit No" required><br />

                                    </div>
                                </div>



                                <div class="col-md-12 offset-md-2">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <button class="btn btn-success" ng-click="addCentralAdmissionFaculty()">Add</button>
                                            <button class="btn btn-disabled disabled" ng-click="resetCentralAdmissionManual()">Cancel</button>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div ng-show="IsUploadVisible">
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        Upload Excel File :<span style="color:red;"> * </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control" id="ngexcelfile" required />
                                    </div>
                                    <span id="ErrorMsgUploadFile" style="color:red"></span>
                                    <span id="SuccessMsgUploadFile" style="color:green"></span>
                                    <span style="color:green"><b>{{msg}}</b></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <h5><span style="color:blue">Note To Remember before uploading Excel File:-</span></h5>
                                        <ul>
                                            <li>1.Create Excel like Following File to Import.</li>
                                            <li>2.Please Verify Created Excel Before Upload.</li>
                                            <li>3.Mobile Number is Optional</li>
                                            <li>4.Applicant Name is Optional</li>

                                        </ul>


                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>MeritNo</th>
                                                    <th>AllotmentNo</th>
                                                    <th>Mobile No</th>
                                                    <th>ApplicantName</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MET1234</td>
                                                    <td>ALT1234</td>
                                                    <td>87xxxxxx54</td>
                                                    <td>Jerxxxxxffi</td>


                                                </tr>
                                                <tr>
                                                    <td>MET3456</td>
                                                    <td>Alt3456</td>
                                                    <td>91xxxxxx32</td>
                                                    <td>Shixxxxna</td>

                                                </tr>


                                            </tbody>
                                        </table>



                                        <div class="col-md-12 offset-md-2">
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-success" ng-click="ReadExcelFile()">Add</button>
                                                    <button class="btn btn-disabled disabled" ng-click="resetCentralAdmissionExcel()">Cancel</button>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <table border=1 ng-hide="true">
                                <thead>
                                    <tr>
                                        <th>FacultyId</th>
                                        <th>AcademicYearId</th>
                                        <th>ProgrammeInstancePartTermId</th>
                                        <th>AdmissionCommitteeId</th>
                                        <th>AllotmentNo</th>
                                        <th>MeritNo</th>
                                        <th>MobileNo</th>
                                        <th>ApplicantName</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data">
                                        <td>{{item.FacultyId}}</td>
                                        <td>{{item.AcademicYearId}}</td>
                                        <td>{{item.ProgrammeInstancePartTermId}}</td>
                                        <td>{{item.AdmissionCommitteeId}}</td>
                                        <td>{{item.AllotmentNo}}</td>
                                        <td>{{item.MeritNo}}</td>
                                        <td>{{item.MobileNo}}</td>
                                        <td>{{item.ApplicantName}}</td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-sm-12" ng-show="IsLabelVisible">
                        &nbsp;

                        <div class="card">
                            <form ng-model="CentAdmissionAddTable">
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label">
                                        <b>Programme Name :</b>
                                    </label>

                                    <div class="col-sm-3">
                                        <label>{{CentAdmissionAddTable.ProgrammeName}}</label>

                                    </div>

                                    <label class="col-sm-3 col-form-label"><b>Branch Name :</b></label>
                                    <div class="col-sm-4">
                                        <label>{{CentAdmissionAddTable.BranchName}} </label>
                                    </div>


                                </div>


                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label">
                                        <b>Committee Name :</b>
                                    </label>

                                    <div class="col-sm-3">
                                        <label>{{CentAdmissionAddTable.CommitteeName}}</label>

                                    </div>

                                    <label class="col-sm-3 col-form-label"><b>Instance Part Term Name :</b></label>
                                    <div class="col-sm-4">
                                        <label>{{CentAdmissionAddTable.InstancePartTermName}} </label>
                                    </div>


                                </div>


                            </form>

                        </div>


                    </div>
                  
                    <div class="card" ng-show="IsTableVisibleAdd">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="CentralAdmissionFAPPIPTTableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="CentralAdmission in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ CentralAdmission.IndexId }}</label></td>
                                            <!--<td data-title="'Program Instance Part Name'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.InstancePartTermName}}</label></td>-->
                                            <td data-title="'MeritNo/Reference No'" filter="{MeritNo: 'text'}" sortable="'MeritNo'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.MeritNo}}</label></td>
                                            <td data-title="'Enroll No'" filter="{AllotmentNo: 'text'}" sortable="'AllotmentNo'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.AllotmentNo}}</label></td>
                                            <!--<td data-title="'Committee Name'" filter="{CommitteeName: 'text'}" sortable="'CommitteeName'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.CommitteeName}}</label></td>-->
                                            <td data-title="'Applicant Name'" filter="{ApplicantName: 'text'}" sortable="'ApplicantName'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.ApplicantName}}</label></td>
                                            <td data-title="'Mobile No'" filter="{MobileNo: 'text'}" sortable="'MobileNo'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.MobileNo}}</label></td>
                                            <!--<td data-title="'Programme Name'" filter="{ProgrammeName: 'text'}" sortable="'ProgrammeName'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.ProgrammeName}}</label></td>
                            <td data-title="'AcademicYearCode '" filter="{AcademicYearCode: 'text'}" sortable="'AcademicYearCode'" style="border-top:none;text-align:left;"><label>{{CentralAdmission.AcademicYearCode}}</label></td>-->

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="overlay">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="spinner"></div>
                        </div>
                    </div>


                </div>

          

            </div>
        </div>
    </div>
</div>





