<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="MstPreferenceCodeMapCtrl" ng-init="getMstPreferenceCodeMap()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <h4>Add MstPreference Code Map</h4>


                </div>
                <div class="card-block">

                    <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light">Back</button><br /><br />
                    <!--<button type="button" ng-click="backToGet()" class="tabledit-edit-button btn btn-primary waves-effect waves-light">Back</button><br /><br />-->
                    <form ng-model="MstPreferenceCodeMap">
                        <div class="form-group row" ng-init="getAcademicYear()">
                            <div class="col-sm-2">Select Academic Year Code<span style="color:red;"> * </span></div>
                            <div class="col-sm-6">
                                <div>
                                    <span class="nullable">
                                        <select ng-model="MstPreferenceCodeMap.AcademicYearId" ng-options="d.Id as d.AcademicYearCode for d in AcadList " ng-change="getFacultyById()" class="form-control" id="Instdropdown1" name="Instdropdown" required>
                                            <option value="" disabled selected>-- select --</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-init="getFacultyById()">
                            <div class="col-sm-2">Select Faculty Name<span style="color:red;"> * </span></div>
                            <div class="col-sm-6">
                                <div>
                                    <span class="nullable">
                                        <select ng-model="MstPreferenceCodeMap.FacultyId" ng-options="d.Id as d.FacultyName for d in FacultyList " ng-change="getMstPreferenceGroup()" class="form-control" id="Instdropdown1" name="Instdropdown" required>
                                            <option value="" disabled selected>-- select --</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2">Select Group Name</div>
                            <div class="col-sm-6">
                                <div>
                                    <span class="nullable">
                                        <select ng-model="MstPreferenceCodeMap.PreferenceId" ng-options="d.Id as d.GroupName for d in PrefList" [value]="MstPreferenceCodeMap.PreferenceId" ng-change="getMstGroupCode()" class="form-control" name="Facdropdown" required>
                                            <option value="" disabled selected>-- select --</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-2">Select Group Code</div>
                            <div class="col-sm-6">
                                <div>
                                    <span class="nullable">
                                        <select ng-model="MstPreferenceCodeMap.CodeId" ng-options="d.Id as d.GroupCode for d in CodeList" [value]="MstPreferenceCodeMap.CodeId" ng-change="getProgInstPartTerm()" class="form-control" name="Progdropdown" required>
                                            <option value="" disabled selected>-- select --</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2">Select Programme Instance Part Term Name</div>
                            <div class="col-sm-6">
                                <div>
                                    <span class="nullable">
                                        <select ng-model="MstPreferenceCodeMap.ProgInstPartTermId" ng-options="d.ProgInstPartTermId as d.InstancePartTermName for d in ProgInstPartTermList" [value]="MstPreferenceCodeMap.ProgInstPartTermId" class="form-control" name="spedropdown" required>
                                            <option value="" disabled selected>-- select --</option>  <!--ng-change="getMstSubSpecialisationList()"-->
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">

                            <div class="col-sm-10">

                                <button class="btn btn-success" ng-click="MstPreferenceCodeMapAdd()">Insert </button>
                                <button class="btn btn-disabled disabled" ng-click="resetMstPreferenceCodeMap()">Cancel</button>
                            </div>
                        </div>

                        <div>
                            <div class="form-group row" ng-model="MstPreferenceCodeMap">
                                <div class="col-sm-12" ng-if="MstPreferenceCodeMapTableParams != null">
                                    <h6>
                                        <b style="color:blue">Applicant's Group Preference Count: </b><label style="color:blue">{{MstPreferenceCodeMap.StudentGroupPreference}}</label> |

                                    </h6>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="example-2" ng-table="MstPreferenceCodeMapTableParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="MstPreferenceCodeMap in $data">
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ MstPreferenceCodeMap.IndexId }}</label></td>
                                        <td data-title="'Group Name'" filter="{GroupName: 'text'}" sortable="'GroupName'" style=" border-top: none;font-family: 'Times New Roman', Times, serif;"><label>{{MstPreferenceCodeMap.GroupName}}</label></td>
                                        <td data-title="'Group Code'" filter="{GroupCode: 'text'}" sortable="'GroupCode'" style=" border-top: none;font-family: 'Times New Roman', Times, serif;"><label>{{MstPreferenceCodeMap.GroupCode}}</label></td>
                                        <td data-title="'Instance PartTerm Name'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style=" border-top: none;font-family: 'Times New Roman', Times, serif;"><label>{{MstPreferenceCodeMap.InstancePartTermName}}</label></td>


                                        <!--<td data-title="'Actions'">
                                            <div layout="row">
                                                <span flex></span>

                                                <button type="button" ng-click="displayProgrammeBranchMap(ProgrammeBranchMap)" class="btn btn-info btn-icon mr-2" data-target="#large-Modal" data-toggle="modal"><span class="icofont ion-eye"></span></button>

                                            </div>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>




    </div>
</div>
</div>
