
<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<div id="overlay">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </div>
</div>

<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header" ng-model="ModelSMSEmail">
                    <div>
                        <div class="float-left"> <h4>POST ADMISSION (ACADEMIC SECTION FINAL VERIFICATION)</h4></div>
                        <!--<div class="float-right" ng-if="PostApplicantListTableparam != null"> <h6><b style="color:blue">Total Applicants: </b><label style="color:blue">{{ModelSMSEmail.TotalCount}}</label> <b style="color:green">SMS Sent: </b><label style="color:green">{{ModelSMSEmail.SMSSuccessCount}}</label> <b style="color:red">SMS Failure:</b> <label style="color:red">{{ModelSMSEmail.SMSFailureCount}}</label></h6></div>
                        <div class="float-right" ng-if="PostApplicantListTableparam != null"> <h6><b style="color:green">Email Sent: </b><label style="color:green">{{ModelSMSEmail.EmailSuccessCount}}</label> <b style="color:red">Email Failure:</b><label style="color:red"> {{ModelSMSEmail.EmailFailureCount}}</label></h6></div>-->
                    </div>
                     <!--<div>
                        <div class="float-left" ng-if="PostApplicantListTableparam != null"> <h6>
                            <b style="color:blue">Total Applicants: </b><label style="color:blue">{{ModelSMSEmail.TotalCount}}</label> |
                            <b style="color:green">SMS Sent: </b><label style="color:green">{{ModelSMSEmail.SMSSuccessCount}}</label> |
                            <b style="color:green"> Email Sent: </b><label style="color:green">{{ModelSMSEmail.EmailSuccessCount}}</label> </h6>
                        </div>
                    </div>-->
                </div>

                <div class="card-block">
                    <div class="col-md-12 offset-md-2">
                        <form ng-model="PostProgInst" novalidate>

                            <div class="form-group row" ng-init="getFacultyById()">
                                <div class="col-sm-3">Select Faculty<span style="color:red;"> *</span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select id="ddlfaculty" ng-model="PostProgInst.Id" ng-options="d.Id as d.FacultyName for d in FacultyList  | orderBy:'FacultyList'" class="form-control" ng-change="getIncProgPartTermByFacIdList();" name="Instdropdown" required>
                                                <option value="" disabled selected>-- select Faculty --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">Programme Part Term Instance Name<span style="color:red;"> *</span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select id="ddlPTID" ng-model="PostProgInst.ProgrammeInstancePartTermId" ng-change="getAdmFeeEndDatebyIncPTID()" ng-options="d.Id as d.InstancePartTermName for d in ProgPartTermByFacIdList" [value]="PostProgInst.ProgrammeInstancePartTermId" class="form-control" name="ProgPartTermdropdown" required>
                                                <option value="" disabled selected>-- select Programme --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3">Admission Fees End Date </label>
                                <div class="col-sm-6">
                                    <input id="admfeeend" name="admfeeend" type="date" class="form-control" ng-change="validationforDate()" ng-model="ConfigureDates.AdmissionFeesStopDate" ng-disabled="AdmissionDateFlag == true" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label style="color:red;"><b>Note:</b> 1.Please configure the ADMISSION FEES LAST DATE which will be display in Email and SMS as you need to notify applicant to pay before that date.. By default it is Admission Fee End date which configured in "Application Configuration".</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label style="color:red;">
                                        2.You will get applicant list whose eligibility status is "Provisionally Approved".
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <button type="button" ng-click="getApplicantListByProgPartTerm(PostProgInst.ProgrammeInstancePartTermId)" class="btn btn-success" ng-disabled="AdmFeeDateFlag == true">&nbsp; Submit</button>
                                        <button class="btn btn-disabled disabled" ng-click="cancelPostProgInsPartTermList()">Cancel</button>
                                    </div>
                                    <!--<div class="col-sm-8">
                <button type="button" ng-if="checkDataExists == false && AllSmsFlag == true" ng-click="SendBulkSMStoApplicant(applicantTable)" class="btn btn-info">&nbsp;Send Bulk SMS</button>&nbsp;
                <button type="button" ng-if="checkDataExists == false && AllEmailFlag == true" ng-click="SendBulkEmailtoApplicant(applicantTable)" class="btn btn-info">&nbsp;Send Bulk Email</button>&nbsp;

            </div>-->
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="form-group row" ng-model="ModelSMSEmail">
                        <div>
                            <div class="col-sm-12" ng-if="PostApplicantListTableparam != null">
                                <h6>
                                    <b style="color:blue">Total Applicants: </b><label style="color:blue">{{ModelSMSEmail.TotalCount}}</label> |
                                    <b style="color:green">SMS Sent: </b><label style="color:green">{{ModelSMSEmail.SMSSuccessCount}}</label> |
                                    <b style="color:green"> Email Sent: </b><label style="color:green">{{ModelSMSEmail.EmailSuccessCount}}</label>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="PostApplicantListTableparam" show-filter="true">
                                    <tbody ng-repeat="PostProgInst in $data">
                                        <tr>
                                            <!--<td class="expand_data" id="{{'first_col'+$index}}" ng-click="expand_row($index)">+</td>-->
                                            <td data-title="'Sr.No'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center"><label>{{PostProgInst.IndexId}}</label></td>
                                            <td data-title="'Actions'">
                                                <div layout="row">
                                                    <span flex></span>
                                                    <button type="button" ng-click="SendSMStoApplicant(PostProgInst)" class="btn btn-info" ng-disabled="PostProgInst.IsVerificationSms == true">&nbsp;SMS</button>&nbsp;
                                                    <button type="button" ng-click="SendEmailtoApplicant(PostProgInst)" class="btn btn-info" ng-disabled="PostProgInst.IsVerificationEmail == true">&nbsp;Email</button>
                                                </div>
                                            </td>
                                            <td data-title="'Application Form No.'" filter="{Id: 'text'}" sortable="'Id'" style="border-top:none;text-align:center"><label>{{PostProgInst.Id}}</label></td>
                                            <td data-title="'Name'" filter="{FullName: 'text'}" sortable="'FullName'" style="border-top:none;"><label>{{PostProgInst.FullName}}</label></td>
                                            <td data-title="'EmailId'" filter="{EmailId: 'text'}" sortable="'EmailId'" style="border-top:none;"><label>{{PostProgInst.EmailId}}</label></td>
                                            <td data-title="'MobileNo'" filter="{MobileNo: 'text'}" sortable="'MobileNo'" style="border-top:none;"><label>{{PostProgInst.MobileNo}}</label></td>
                                            <td data-title="'Fee Attached Status'" filter="{FeeCategoryName: 'text'}" sortable="'FeeCategoryName'" style="border-top:none;"><label>{{PostProgInst.FeeCategoryName}}</label></td>
                                            <!--<td data-title="'Category'" filter="{ApplicationReservationCode: 'text'}" sortable="'ApplicationReservationCode'" style="border-top:none;"><label>{{PostProgInst.ApplicationReservationCode}}</label></td>
                            <td data-title="'Fee Attached Status'" filter="{FeeCategoryName: 'text'}" sortable="'FeeCategoryName'" style="border-top:none;"><label>{{PostProgInst.FeeCategoryName}}</label></td>
                            <td data-title="'Faculty Remarks'" filter="{AdminRemarkByFaculty: 'text'}" sortable="'AdminRemarkByFaculty'" style="border-top:none;"><label>{{PostProgInst.AdminRemarkByFaculty}}</label></td>
                            <td data-title="'Academic Remarks'" filter="{AdminRemarkByAcademics: 'text'}" sortable="'AdminRemarkByAcademics'" style="border-top:none;"><label>{{PostProgInst.AdminRemarkByAcademics}}</label></td>
                            <td data-title="'Faculty Status'" filter="{EligibilityStatus: 'text'}" sortable="'EligibilityStatus'" style="border-top:none;"><label>{{PostProgInst.EligibilityStatus}}</label></td>
                            <td data-title="'Academic Status'" filter="{EligibilityByAcademics: 'text'}" sortable="'EligibilityByAcademics'" style="border-top:none;"><label>{{PostProgInst.EligibilityByAcademics}}</label></td>
                            <td data-title="'InstancePartTermName'" filter="{InstancePartTermName: 'text'}" sortable="'InstancePartTermName'" style="border-top:none;"><label>{{PostProgInst.InstancePartTermName}}</label></td>-->
                                        </tr>
                                        <!--<tr id="{{'expand'+$index}}" class="collapse">
                            <td colspan="8">
                                <div class="row">
                                    <div class="col-md-5 row">
                                        <div class="col-md-4"><span><b>Faculty Remarks : </b></span></div>
                                        <div class="col-md-4">
                                            <span>{{PostProgInst.AdminRemarkByFaculty}}</span>
                                            <span ng-if="PostProgInst.AdminRemarkByFaculty == ''">--</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 row">
                                        <div class="col-md-4"><span><b>Faculty Status : </b></span></div>
                                        <div class="col-md-4">
                                            <span>{{PostProgInst.EligibilityStatus}}</span>
                                            <span ng-if="PostProgInst.EligibilityStatus == ''">--</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 row">
                                        <div class="col-md-5"><span><b>Fee Attached Status : </b></span></div>
                                        <div class="col-md-4">
                                            <span>{{PostProgInst.FeeCategoryName}}</span>
                                            <span ng-if="PostProgInst.FeeCategoryName == ''">--</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>-->
                                    </tbody>

                                    <!--table with Checkbox start-->
                                    <!--<thead>
                        <tr>
                            <th><input type="checkbox" ng-model="PostProgInst.allItemsSelected" ng-change="selectAll()">&nbsp;SMS</th>
                            <th><input type="checkbox" ng-model="PostProgInst.allItemsSelectedEmail" ng-change="selectAllEmail()">&nbsp;Email</th>
                            <th>Sr No.</th>
                            <th>Action</th>
                            <th>Application Form No.</th>
                            <th>FullName</th>
                            <th>EmailId</th>
                            <th>MobileNo</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="PostProgInst in applicantTable" ng-class="{selected: PostProgInst.SelectedCheck}">

                            <td style="text-align:center;"><input type="checkbox" ng-model="PostProgInst.SelectedCheck" ng-change="selectEntity()"></td>
                            <td style="text-align:center;"><input type="checkbox" ng-model="PostProgInst.SelectedCheckEmail" ng-change="selectEntityEmail()"></td>
                            <td filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center"><label>{{PostProgInst.IndexId}}</label></td>
                            <td>
                                <div layout="row">
                                    <span flex></span>
                                    <button type="button" ng-click="SendSMStoApplicant(PostProgInst)" class="btn btn-info" ng-disabled="PostProgInst.IsVerificationSms == true">&nbsp;SMS</button>&nbsp;
                                    <button type="button" ng-click="SendEmailtoApplicant(PostProgInst)" class="btn btn-info" ng-disabled="PostProgInst.IsVerificationEmail == true">&nbsp;Email</button>
                                </div>
                            </td>
                            <td filter="{Id: 'text'}" sortable="'Id'" style="border-top:none;text-align:center"><label>{{PostProgInst.Id}}</label></td>
                            <td filter="{FullName: 'text'}" sortable="'FullName'" style="border-top:none;"><label>{{PostProgInst.FullName}}</label></td>
                            <td filter="{EmailId: 'text'}" sortable="'EmailId'" style="border-top:none;"><label>{{PostProgInst.EmailId}}</label></td>
                            <td filter="{MobileNo: 'text'}" sortable="'MobileNo'" style="border-top:none;"><label>{{PostProgInst.MobileNo}}</label></td>
                        </tr>
                    </tbody>-->
                                    <!--table with Checkbox End-->
                                </table>
                                <div ng-if="checkDataExists">
                                    <div style="color:red;margin:1px;text-align:center;padding:10px;">No Records available for Particular Programme.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-model="ModelSMSEmail">
                            <div class="form-group row">
                                <div class="col-sm-2" ng-if="checkDataExists == false && AllSmsFlag == true">

                                    <button type="button" ng-click="SendBulkSMStoApplicant(applicantTable)" class="btn btn-info">&nbsp;Send Bulk SMS</button>&nbsp;
                                </div>
                                <div class="col-sm-3" ng-if="checkDataExists == false && AllEmailFlag == true">

                                    <button type="button" ng-click="SendBulkEmailtoApplicant(applicantTable)" class="btn btn-info">&nbsp;Send Bulk Email</button>&nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
