<style>
    .md-dialog-is-showing {
        top: auto !important;
    }

    .button-size {
        width: 11rem !important;
    }

    .card-block .pagination li {
        margin-right: 10px !important;
    }

    .card .card-block ul {
        float: right !important;
    }

    td {
        white-space: normal !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-init="getPreExamStatisticsStudentDataFaculty()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Pre-Examination Statistics - Student Data</h4></div><br /><br />
                        <div class="float-left"> <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Back</button></div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="example-2" ng-table="PreExamStatisticsforStudentListTableParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="PreExaminationStatistics in $data">

                                        <td data-title="'Sr.No'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center;"><label>{{PreExaminationStatistics.IndexId}}</label></td>
                                        <td data-title="'PRN'" filter="{PRN: 'text'}" sortable="'PRN'" style=" border-top: none;"><label>{{PreExaminationStatistics.PRN}}</label></td>
                                        <td data-title="'Seat Number'" filter="{SeatNumber: 'text'}" sortable="'SeatNumber'" style=" border-top: none;"><label>{{PreExaminationStatistics.SeatNumber}}</label></td>
                                        <td data-title="'Name'" filter="{PRN: 'text'}" sortable="'PRN'" style=" border-top: none;"><label>{{PreExaminationStatistics.FullName}}</label></td>
                                        <td data-title="'Faculty Name'" filter="{FacultyName: 'text'}" sortable="'FacultyName'" style=" border-top: none;"><label>{{PreExaminationStatistics.FacultyName}}</label></td>
                                        <td data-title="'Semester Name'" filter="{PartTermName: 'text'}" sortable="'PartTermName'" style=" border-top: none;"><label>{{PreExaminationStatistics.PartTermName}}</label></td>
                                        <td data-title="'ProgrammeName'" filter="{ProgrammeName: 'text'}" sortable="'ProgrammeName'" style=" border-top: none;"><label>{{PreExaminationStatistics.ProgrammeName}}</label></td>
                                        <td data-title="'Branch Name'" filter="{BranchName: 'text'}" sortable="'BranchName'" style=" border-top: none;"><label>{{PreExaminationStatistics.BranchName}}</label></td>
                                        <td data-title="'Institute Name'" filter="{InstituteName: 'text'}" sortable="'InstituteName'" style=" border-top: none;"><label>{{PreExaminationStatistics.InstituteName}}</label></td>
                                        <td data-title="'Venue Name'" filter="{ExamVenueName: 'text'}" sortable="'ExamVenueName'" style=" border-top: none;"><label>{{PreExaminationStatistics.ExamVenueName}}</label></td>
                                        <td data-title="'Inward Mode'" filter="{InwardMode: 'text'}" sortable="'InwardMode'" style=" border-top: none;"><label>{{PreExaminationStatistics.InwardMode}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div layout="row" style="margin-top:3px" class="float-right">
                            <button ng-click="exportData();" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="min-width:40px;">Export to Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>