<style>

    ::-webkit-scrollbar {
        height: 20px !important;
        overflow: visible;
        width: 0px;
        background-color: lightgray;
    }
</style>
<div id="overlay">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </div>
</div>
<script src="../../../app/admin/controller/alasql.js"></script>
<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Programme Wise Marks Credit Details</h4></div>

                    </div>
                </div>

                <div class="card-block">

                    <div class="col-md-12 offset-md-2">
                        <form ng-model="PaperTLM">

                            <div class="form-group row" ng-init="MstFacultyGet();">
                                <div class="col-sm-2">Select Faculty:<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="ProgMarksCredit.FacultyId" ng-options="d.Id as d.FacultyName for d in FacultyList" class="form-control" ng-change="MstInstituteGetByFacultyId();" id="Instdropdown1" name="Instdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2">Select Institute:<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="ProgMarksCredit.InstituteId" ng-options="d.InstituteId as d.InstituteName for d in InstituteList" class="form-control" ng-change="IncAcademicYearGet();" id="Instdropdown1" name="Instdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2">Select Academic Year Code:<span style="color:red;"> * </span></div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="ProgMarksCredit.AcademicYearId" ng-options="d.AcademicYearId as d.AcademicYearCode for d in AcademicYearList" class="form-control" ng-change="getMstInstituteInstNameById();" id="Instdropdown1" name="Instdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="button" ng-click="getProgrammeWiseMarksCreditDetails();" class="btn btn-success">&nbsp; Submit</button>
                                        <button class="btn btn-disabled disabled" ng-click="resetProgrammeWiseMarksCreditDetails();">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive" ng-show="IsTableVisible">
                            <table class="table table-striped table-bordered" id="example-2" ng-table="ProgrammeWiseMarksCreditDetailsTableParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="ProgMarksCredit in $data">
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ProgMarksCredit.IndexId }}</label></td>
                                        <td data-title="'FacultyName'" filter="{FacultyName: 'text'}" sortable="'FacultyName'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.FacultyName}}</label></td>
                                        <td data-title="'ProgrammeName'" filter="{ProgrammeName: 'text'}" sortable="'ProgrammeName'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.ProgrammeName}}</label></td>
                                        <td data-title="'PartName'" filter="{PartName: 'text'}" sortable="'PartName'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.PartName}}</label></td>
                                        <td data-title="'PartTermName'" filter="{PartTermName: 'text'}" sortable="'PartTermName'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.PartTermName}}</label></td>
                                        <td data-title="'InstanceName'" filter="{InstanceName: 'text'}" sortable="'InstanceName'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.InstanceName}}</label></td>
                                        <td data-title="'BranchName'" filter="{BranchName: 'text'}" sortable="'BranchName'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.BranchName}}</label></td>
                                        <td data-title="'FollowCreditSystem'" filter="{FollowCreditSystem: 'text'}" sortable="'FollowCreditSystem'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.FollowCreditSystem}}</label></td>
                                        <td data-title="'ProgrammePartTermMinMarks'" filter="{ProgrammePartTermMinMarks: 'text'}" sortable="'ProgrammePartTermMinMarks'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.ProgrammePartTermMinMarks}}</label></td>
                                        <td data-title="'ProgrammePartTermMaxMarks'" filter="{ProgrammePartTermMaxMarks: 'text'}" sortable="'ProgrammePartTermMaxMarks'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.ProgrammePartTermMaxMarks}}</label></td>
                                        <td data-title="'ProgrammePartMinMarks'" filter="{ProgrammePartMinMarks: 'text'}" sortable="'ProgrammePartMinMarks'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.ProgrammePartMinMarks}}</label></td>
                                        <td data-title="'ProgrammePartMaxMarks'" filter="{ProgrammePartMaxMarks: 'text'}" sortable="'ProgrammePartMaxMarks'" style=" border-top: none; text-align:center;"><label>{{ProgMarksCredit.ProgrammePartMaxMarks}}</label></td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card" ng-show="NoRecLabel">
                            <label style="font:bold; text-align:center; font-size:medium; color:red;">No Record Found..!</label>
                        </div>

                    </div>
                </div>


                <div id="overlay" class="col-lg-6 offset-md-2">
                    <div class="w-100 d-flex justify-content-lg-center align-items-center">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>

            <div layout="row" ng-show="IsExcelButton" style="margin-top:3px" class="float-right">

                <button ng-click="exportData()" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="min-width:40px;">Export to Excel </button>


            </div>

        </div>

        
    </div>
    
</div>
    