

<style>
    .md-dialog-is-showing {
        top: auto !important;
    }

    .button-size {
        width: 11rem !important;
    }

    .card-block .pagination li {
        margin-right: 10px !important;
    } 

    .card .card-block ul {
        float: right !important;
    }

    table, th, td {
        padding: 5px;
        border: 1px solid black;
    }

    /* .heading {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }*/
    table {
        page-break-before: always;
    }
</style>
<script>

    function createPDF() {
        var sTable = document.getElementById('printJRSPReport').innerHTML;
        datetime = new Date().toLocaleDateString();

        var style = "<style>";
        style = style + "table {width: 100%;font: 12px Calibri;}";
        style = style + "table, th, td {border: solid 1px black; border-collapse: collapse;";
        style = style + "padding: 2px 3px;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', 'height=700,width=700');

        win.document.write('<html><head>');
        //win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        //win.document.write(datetime);
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

    function createPDF2() {
        var sTable = document.getElementById('printJRSPReport2').innerHTML;
        datetime = new Date().toLocaleDateString();

        var style = "<style>";
        style = style + "table {width: 100%;font: 12px Calibri;}";
        style = style + "table, th, td {border: solid 1px black; border-collapse: collapse;";
        style = style + "padding: 2px 3px;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', 'height=700,width=700');

        win.document.write('<html><head>');
        //win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        //win.document.write(datetime);
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

</script>

<div id="overlay">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="spinner"></div>
    </div>
</div>

<!-- Page body start -->
<div class="page-body" ng-controller="ReportForJrSupervisorIAExamCtrl">

    <div class="row">
        <div class="col-sm-12">
          
            <div class="row clearfix" ng-hide="FlagList2 == true">
                <div class="col-lg-12 col-md-6">
                    <div class="card" style="margin-bottom: 0px;">
                        <div class="card-header">
                            <h4>Jr. Supervisor Report for Internal Exams </h4>
                        </div>
                        <div class="card-body" style="padding:10px 20px 0px 20px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label class="form-label">Exam Event</label>
                                            <div>
                                                <span class="nullable">
                                                    <examevent-select style="margin-bottom:3px;" ng-model="examseat.ExamMasterId" ng-change="getFacultyExamMapListGetActive(examseat.ExamMasterId)"></examevent-select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Schedule</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <schedulewithexamevent-select style="margin-bottom:3px;" ng-model="examseat.FacultyExamMapId" ng-change="MstProgrammeMasterGet(examseat.FacultyExamMapId)"></schedulewithexamevent-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Programme</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <programmewithschedule-select style="margin-bottom:3px;" ng-model="examseat.ProgrammeId" ng-change="getMstProgrammeBranchListGetByProgrammeIdList(examseat.ProgrammeId) ; getMstProgrammePartTermGetByProgrammeIdAndBranchIdList(examseat)"></programmewithschedule-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Branch</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <branchwithpro-select style="margin-bottom:3px;" ng-model="examseat.BranchId" ng-change="getMstProgrammePartTermGetByProgrammeIdAndBranchIdList(examseat) ; getExamFormDetails(examseat);"></branchwithpro-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Programme Part Term</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <parttermbranchprogramme-select style="margin-bottom:3px;" ng-model="examseat.ProgrammePartTermId" ng-change="JrSuperVisorReportIAPaperList();"></parttermbranchprogramme-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="IAPaperList" ng-table="IAPaperListTableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="JRSPIA in $data">
                                            <td data-title="'Actions'" style="text-align:center;width:5px;">
                                                <div layout="row">
                                                    <span flex></span>
                                                    <button type="button" ng-click="JrSuperVisorReportIAStudentsList(JRSPIA.ExamDate,JRSPIA.PaperId,JRSPIA.PaperCode,JRSPIA.PaperName)" class="tabledit-edit-button btn btn-info waves-effect waves-light"><span class="ti-hand-point-up"></span></button>
                                                </div>
                                            </td>
                                            <td data-title="'Sr No.'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center;" width="10%"><label>{{JRSPIA.IndexId}}</label></td>
                                            <td data-title="'Exam Date'" filter="{ExamDate: 'text'}" sortable="'ExamDate'" style="border-top:none;text-align:center;"><label>{{JRSPIA.ExamDate}}</label></td>
                                            <td data-title="'Paper Code'" filter="{PaperCode: 'text'}" sortable="'PaperCode'" style="border-top:none;text-align:center;"><label>{{JRSPIA.PaperCode}}</label></td>
                                            <td data-title="'Paper Name'" filter="{PaperName: 'text'}" sortable="'PaperName'" style="border-top:none;"><label>{{JRSPIA.PaperName}}</label></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div ng-if="checkDataExists">
                                    <div style="color:red;margin:1px;text-align:center;padding:10px;">No Records available.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             </div>


             <div class="card" ng-show="FlagList2 == true">

                    <div class="card-header">

                        <h5>Programme Name : {{IADataModel.ProgrammePartTermName}} </h5>

                        <div class="float-right">
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" id="btnback" class="btn btn-info" ng-click="GetBack()" style="padding: 5px 15px 5px 15px;border-radius:30px;">Back to Page</button>
                        </div><br />
                        <h5>Event : {{IADataModel.ExamEventName}} </h5><br />

                        <h5 ng-if="IADataModel.ExamDate == 'Not Defined' || IADataModel.ExamDate == null || IADataModel.ExamDate == ''">
                             Exam Date :  &nbsp;-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         </h5>

                        <h5 ng-if="IADataModel.ExamDate != 'Not Defined'">
                            Exam Date :  &nbsp;{{IADataModel.ExamDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </h5><br />

                        <!--<h5>Exam Date : {{IADataModel.ExamDate}} </h5><br />-->
                        <!--<h5>Venue : {{ExamVenueName}} </h5><br />
                        <h5>Center Name : {{IADataModel.CenterName}} </h5><br />-->
                        <h5>Paper Name: {{IADataModel.PaperName}} </h5><br />
                        <h5>Paper Code : {{IADataModel.PaperCode}} </h5><br />
                        <!--<h5>Block Name : {{Block_Name}} </h5><br />
                        <h5>Total Students : {{StudentCountBlockWise}} </h5><br />-->

                        <div class="float-right">
                            <!--&nbsp;&nbsp;<button type="button" class="btn btn-success" id="btPrint" value="Print" onclick="createPDF2()" style="padding: 5px 15px 5px 15px;border-radius:30px;" hidden>Jr.Supervisor Report</button>-->
                            &nbsp;&nbsp;<button type="button" class="btn btn-success" id="btPrint" value="Print" onclick="createPDF()" style="padding: 5px 15px 5px 15px;border-radius:30px;">Generate PDF</button>
                            &nbsp;&nbsp;<button type="button" id="btnback" class="btn btn-success" ng-click="ExportToExcelJrSPReport()" style="padding: 5px 15px 5px 15px;border-radius:30px;">Export to Excel</button>
                        </div>

                    </div>

                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="VenueEventList" ng-table="IAStudentsListTableParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="JRSPIA in $data">
                                      
                                        <td data-title="'Sr No.'" filter="{IndexId: 'text'}" sortable="'IndexId'" style="border-top:none;text-align:center;"><label>{{JRSPIA.IndexId}}</label></td>
                                        <td data-title="'FullName'" filter="{FullName: 'text'}" sortable="'FullName'" style="border-top:none;"><label>{{JRSPIA.FullName}}</label></td>
                                        <td data-title="'PRN'" filter="{PRN: 'text'}" sortable="'PRN'" style="border-top:none;text-align:center;"><label>{{JRSPIA.PRN}}</label></td>
                                        <td data-title="'SeatNumber'" filter="{SeatNumber: 'text'}" sortable="'SeatNumber'" style="border-top:none;text-align:center;"><label>{{JRSPIA.SeatNumber}}</label></td>
                                        <!--<td data-title="'StudentSignature'" filter="{StudentSignature: 'text'}" sortable="'StudentSignature'" style="border-top:none;text-align:center;"><label>{{JRSPIA.StudentSignature}}</label></td>-->
                                        <td data-title="'StudentPhoto'" filter="{StudentPhoto: 'text'}" sortable="'StudentPhoto'" style="border-top: none; text-align: center;">
                                            <img src="{{JRSPIA.StudentPhoto}}" style="height:80px;width:80px;" />
                                        </td>
                                        <td data-title="'StudentSignature'" filter="{StudentSignature: 'text'}" sortable="'StudentSignature'" style="border-top: none; text-align: center;">
                                            <img src="{{JRSPIA.StudentSignature}}" style="height:80px;width:80px;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div ng-if="checkDataExists">
                                <div style="color:red;margin:1px;text-align:center;padding:10px;">No Records available.</div>
                            </div>
                        </div>

                    </div>
                </div>

        </div>
    </div>

    <div id="printJRSPReport">

        <br />
        <div class="card" style="break-after:page;" ng-show="false">
            <div class="card-block">

                <table border="1" class="table table-bordered table-responsive" style="border-style:solid;text-align: center;" width="80%" template-pagination="none">
                    <tbody>
                        <tr>
                <!--<td class="float-left" style="border:none;"><img src="assets/images/Msu-Images/Msu_baroda_logo.png" height="80px" width="80px" /></td>-->
                <td colspan="7" width="100%">
                    <img style="float:left;" src="assets/images/Msu-Images/Msu_baroda_logo.png" height="50px" width="50px" />
                    <h4 style="text-align:center;">
                        <br />
                        <b>
                            The Maharaja Sayajirao University of Baroda<br />
                            Fatehgunj, Vadodara-390 002, Gujarat (India)<br />
                            https://admission.msubaroda.ac.in/sanchalak <br />
                        </b>
                    </h4><br />
                </td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:center;" width="100%">
                    <b>
                        Seating Arrangement For <br />
                        {{IADataModel.ProgrammePartTermName}} for {{IADataModel.ExamEventName}} Examination
                    </b>
                </td>

            </tr>
            <tr>
                <td colspan="7" style="text-align:left;" width="70%">
                    <b>
                        Course : {{IADataModel.PaperName}} (Paper Code : {{IADataModel.PaperCode}})<br />
                        <label ng-if="IADataModel.ExamDate == 'Not Defined' || IADataModel.ExamDate == null || IADataModel.ExamDate == ''">
                            Exam Date :  &nbsp;-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>

                        <label ng-if="IADataModel.ExamDate != 'Not Defined'">
                            Exam Date :  &nbsp;{{IADataModel.ExamDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <!--Date : &nbsp;{{IADataModel.ExamDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    </b>
                </td>
                <!--<td colspan="3" style="text-align:left;" width="30%">
                    <b>
                        Total Student Count : {{StudentCountBlockWise}}
                    </b>
                </td>-->
            </tr>
           
        <tbody>
            <tr ng-repeat="row in res ">
                <td ng-repeat="column in row ">
                    {{column}}
                </td>
            </tr>
        </tbody>

    </table>
    <br />
</div>
</div>

        <br />
        <div class="card" style="break-after:page;" ng-show="false">
        <div class="card-block">
            <table border="1" class="table table-bordered table-responsive" style="border-style:solid;text-align: center;" width="80%" template-pagination="none">
                <tbody>
                    <tr>
                        <!--<td class="float-left" style="border:none;"><img src="assets/images/Msu-Images/Msu_baroda_logo.png" height="80px" width="80px" /></td>-->
                        <td colspan="7" width="100%">
                            <img style="float:left;" src="assets/images/Msu-Images/Msu_baroda_logo.png" height="50px" width="50px" />
                            <h4 style="text-align:center;">
                                <br />
                                <b>
                                    The Maharaja Sayajirao University of Baroda<br />
                                    Fatehgunj, Vadodara-390 002, Gujarat (India)<br />
                                    https://admission.msubaroda.ac.in/sanchalak <br />
                                </b>
                            </h4><br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align:center;" width="100%">
                            <b>
                                Paper Wise Attendance Sheet and Junior Supervisor Report For <br />
                                {{IADataModel.ProgrammePartTermName}} for {{IADataModel.ExamEventName}} Examination
                            </b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:left;" width="70%">
                            <b>
                                Course : {{IADataModel.PaperName}} (Paper Code : {{IADataModel.PaperCode}})
                            </b>
                        </td>
                        <td colspan="3" style="text-align:left;" width="30%">
                            <b>
                                Total Student Count : {{IADataModel.TotalStudentCount}}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:left;" width="60%">
                            <b>
                                <label ng-if="IADataModel.ExamDate == 'Not Defined' || IADataModel.ExamDate == null || IADataModel.ExamDate == ''">
                                    Exam Date :  &nbsp;-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>

                                <label ng-if="IADataModel.ExamDate != 'Not Defined'">
                                    Exam Date :  &nbsp;{{IADataModel.ExamDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>

                                <!--Date : &nbsp;{{IADataModel.ExamDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                QP Code/ SLR NO :<br />
                            </b>
                        </td>
                        <td colspan="3" style="text-align:left;" width="40%">
                            <b>
                                Seat No. from : {{IADataModel.FromSeatNo}} <br /> <br />
                                Seat No. To : {{IADataModel.ToSeatNo}}
                            </b>
                        </td>
                    </tr>
                    <tr style="height:50px; ">
                        <td colspan="4" style="text-align:left;" width="60%">
                            <b>
                                Supervisor Name :
                            </b>
                        </td>
                        <td colspan="3" style="text-align:left;" width="40%">
                            <b>
                                Signature :
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">Sr No.</td>
                        <td>Seat No</td>
                        <td rowspan="2" colspan="2">Student Name</td>
                        <td rowspan="2">Specimen Signature </td>
                        <td rowspan="2">Photo</td>
                        <td rowspan="2">Student's Signature at venue</td>
                    </tr>
                    <tr>
                        <td> Medium of Appearance</td>
                    </tr>
                <tbody ng-repeat="JRSPIA in $data" ng-table="IAStudentsListTableParams">
                    <tr>
                        <td rowspan="3">{{JRSPIA.IndexId}}</td>
                        <td>{{JRSPIA.SeatNumber}}</td>
                        <td colspan="2">{{JRSPIA.FullName}}</td>
                        <td rowspan="3">
                            <img src="{{JRSPIA.StudentSignature}}" style="height:80px;width:80px;" />
                        </td>
                        <td rowspan="3">
                            <img src="{{JRSPIA.StudentPhoto}}" style="height:80px;width:80px;" />
                        </td>
                        <td rowspan="3"></td>
                    </tr>
                    <tr>
                        <td rowspan="2"> {{JRSPIA.InstructionMediumName}}</td>
                        <td height="20">Main Answer Book No.</td>
                        <td height="20">Supplement No./ICR sheet No.</td>
                    </tr>
                    <tr>
                        <td height="40"></td>
                        <td height="40"></td>
                    </tr>
                </tbody>
                <tr>
                    <td colspan="7" style="text-align:left;" width="100%">
                        <b>
                            Declaration by Jr. Supervisor: I have verified the Seat No. of all the students on the each answer sheet submitted by each student in the block and tallies
                            with number alloted by the University/College.
                        </b>
                    </td>

                </tr>
                <tr style="height:40px; ">
                    <td colspan="2" style="text-align:left;" width="30%">
                        <b>
                            Total Present Students :
                        </b>
                    </td>
                    <td colspan="2" style="text-align:left;">
                        <b>
                            Total Absent Students :
                        </b>
                    </td>
                    <td colspan="3" style="text-align:left;">
                        <b>
                            Total No. of Students in block :
                        </b>
                    </td>

                </tr>
                <tr>
                    <td colspan="4" style="text-align:left;">
                        <b>
                            Senior Supervisor<br /><br />
                        </b>
                        Name : <br /><br />
                        Designation : <br /><br />
                        Signature : <br /><br /><br /><br />

                    </td>
                    <td colspan="3" style="text-align:left;">
                        <b>
                            Junior Supervisor<br /><br />
                        </b>
                        Name : <br /><br />
                        Designation : <br /><br />
                        Signature : <br /><br /><br /><br />
                    </td>

                </tr>
                </tbody>
            </table>
            <br />
        </div>
        </div>
    </div>


</div>.



<script>
    $(function () {
        var displaysTime = $('#divTime');
        displaysTime.text(moment.utc('27/04/2017', 'DD/MM/YYYY', true).toISOString());
    });
</script>