<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="SocialCategoryCtrl" ng-init="getSCList()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <h4>Social Category Master</h4>
                </div>
                <div class="card-block">
                    <button type="button" ng-click="newSCAdd()" class="tabledit-edit-button btn btn-primary waves-effect waves-light"><span class="ion-plus-round"></span>&nbsp; Add New</button><br /><br />
                    
                    <form ng-model="SCEdit" name="SCEdit" ng-show="showFormFlag">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Social Category Name <span style="color:red">*</span>:</label>
                            <div class="col-sm-10 col-lg-9 col-md-9">
                                <input type="text" class="form-control" ng-model="SCEdit.SocialCategoryName" placeholder="Type Your Social Category Name" name="SocialCategoryName" required>
                                <span ng-show="SCEdit.SocialCategoryName.$touched && SCEdit.SocialCategoryName.$invalid" style="color:red">The Field is required.</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Social Category Code<span style="color:red">*</span>:</label>
                            <div class="col-sm-10 col-lg-9 col-md-9">
                                <input type="text" class="form-control" ng-model="SCEdit.SocialCategoryCode" placeholder="Type Social Category Code" name="SocialCategoryCode" required>
                                <span ng-show="SCEdit.SocialCategoryCode.$touched && SCEdit.SocialCategoryCode.$invalid" style="color:red">The Field is required.</span>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-success" ng-click="modifySC()">Update </button>
                                <button class="btn btn-disabled disabled" ng-click="cancelSC()">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="SocialCategoryTableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="SC in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'Social Category Name'" filter="{SocialCategoryName: 'text'}" sortable="'SocialCategoryName'" style="text-align:center;"><label>{{SC .SocialCategoryName}}</label></td>
                                            <td data-title="'Social Category Code'" filter="{SocialCategoryCode: 'text'}" sortable="'SocialCategoryCode'" style="text-align:center;"><label>{{SC .SocialCategoryCode}}</label></td>

                                            <td data-title="'Actions'">
                                                <div layout="row">
                                                    <span flex></span>
                                                    <button type="button" ng-click="modifySCData(SC)" class="tabledit-edit-button btn btn-primary waves-effect waves-light"><span class="icofont icofont-ui-edit"></span></button>
                                                    <button type="button" ng-click="deleteSC($event,SC)" class="tabledit-delete-button btn btn-danger waves-effect waves-light ml-2"><span class="icofont icofont-ui-delete"></span></button>
                                                    <!--Hide Button-->
                                                    <button title="Hide" ng-click="ShowSC(SC)" class="btn btn-danger ml-2 button-size" ng-hide="SC.IsActive"><i class="fa fa-toggle-on"></i>Click to Active</button>
                                                    <!--Show Button-->
                                                    <button title="Show" ng-click="HideSC(SC)" class="btn btn-success ml-2 button-size" ng-show="SC.IsActive"><i class="fa fa-toggle-off"></i>Click to Suspended</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page body end -->