
<style>
    .card-block .pagination li {
        margin-right: 10px !important;
    }

    .card .card-block ul {
        float: right !important;
    }


    /*   for table*/
    .card .card-block table tr {
        padding-bottom: 20px;
    }

    .table td {
        padding: .25rem;
    }

    .table label {
        margin-bottom: 0px;
        margin-top: 8px;
    }


    /*  for button in table*/
    .table button {
        width: 45px;
        height: 40px;
        padding: 0px;
    }

        .table button i {
            margin-right: 0px;
        }



    .ng-table th.sortable .sort-indicator {
        padding-right: 18px;
        position: relative;
        white-space: normal;
    }

    .ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {
            content: "";
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #000 transparent;
            visibility: hidden;
            right: 5px;
            top: 50%;
            position: absolute;
            opacity: .3;
        }

    .ng-table th.sortable.sort-desc .sort-indicator:after {
        border-bottom: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        visibility: hidden;
    }

    .ng-table th.sortable .sort-indicator:hover:before {
        opacity: 1;
        visibility: hidden;
    }

    .ng-table th.sortable .sort-indicator:hover:after {
        opacity: 1;
        visibility: hidden;
    }


/*    .horizontal{
        color:black;
        background-color:black;
    }*/
    table {
        page-break-before: always;
    }
</style>
<script>

    function createPDF() {
        var sTable = document.getElementById('print').innerHTML;

        var style = "<style>";
        style = style + "table {width: 1000px;font: 15px Calibri;}";
        style = style + "table {border: solid 0px black;border-collapse: collapse; align:center";
        style = style + "padding: 2px 3px;}";
        style = style + "th {border: solid 1px black; border-collapse: collapse; align:center}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

</script>

<!-- Page body start -->
<div class="page-body" ng-init="setValue();">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card" style="margin-bottom:15px;">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4 style="margin-bottom:0px;">Student List By Venue</h4></div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-6">
                    <div class="card" style="margin-bottom: 0px;">

                        <div class="card-body" style="padding:10px 20px 0px 20px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label class="form-label">Exam Event</label>
                                            <div>
                                                <span class="nullable">
                                                    <examevent-select style="margin-bottom:3px;" ng-model="examseat.ExamMasterId" ng-change="getFacultyExamMapListGetActive(examseat.ExamMasterId)"></examevent-select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Schedule</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <schedulewithexamevent-select style="margin-bottom:3px;" ng-model="examseat.FacultyExamMapId" ng-change="MstProgrammeMasterGet(examseat.FacultyExamMapId)"></schedulewithexamevent-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Programme</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <programmewithschedule-select style="margin-bottom:3px;" ng-model="examseat.ProgrammeId" ng-change="getMstProgrammeBranchListGetByProgrammeIdList(examseat.ProgrammeId) ; getMstProgrammePartTermGetByProgrammeIdAndBranchIdList(examseat)"></programmewithschedule-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Branch</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <branchwithpro-select style="margin-bottom:3px;" ng-model="examseat.BranchId" ng-change="getMstProgrammePartTermGetByProgrammeIdAndBranchIdList(examseat);"></branchwithpro-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label class="form-label">Programme Part Term</label>
                                                            <div>
                                                                <span class="nullable">
                                                                    <parttermbranchprogramme-select style="margin-bottom:3px;" ng-model="examseat.ProgrammePartTermId" ng-change="getExamVenueList();"></parttermbranchprogramme-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px 20px 0px 20px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label class="form-label">Exam Venue Name</label>
                                            <div>
                                                <span class="nullable">
                                                    <select style="margin-bottom:3px;" ng-model="ExamVenueId" ng-options="d.ExamVenueId as d.ExamVenueName for d in ExamVenueList " class="form-control" id="Instdropdown1" name="Instdropdown" required></select>
                                                </span>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-12">
                                    <div class="card" style="margin-bottom:0px;">

                                        <div class="card-header" style="padding:16px 20px;border-bottom:1px solid rgba(0,40,100,0.12);">
                                            <h3 class="card-title float-left" style="font-size:18px;padding-top:10px;"></h3>
                                            <div class="float-right" style="padding-top:0px;">
                                                <button type="button" title="Generate" ng-click="getStudentListByVenue()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Submit </button>
                                                <button type="button" title="Generate" ng-click="cancelSeatNoGeneration()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Cancle </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" ng-show="DateWiseTable">
                    <div class="card-block">
                        <div class="table-responsive">
                            <div class="card-block">
                                <!--<button type="button" ng-click="printDiv('print','StudentListByVenue')" class="btn btn-info btn-round ">Print</button>-->
                                <button type="button" class="btn btn-info btn-round" id="btPrint" value="Print" onclick="createPDF()" style="border:double;font-size:large">Print</button>
                            </div>
                            <table class="table table-striped table-bordered" id="example-2" show-filter="true">
                                <thead>

                                    <tr ng-show="getStudentListByVenue=='undefined' ||getStudentListByVenue=='null' || getStudentListByVenue.length==0">
                                        <th><label>Sr.No.</label></th>
                                        <th><label>Seat Number</label></th>
                                        <th><label>PRN</label></th>
                                        <th><label>Student Name</label></th>
                                        <th><label>Exam Appearance Type</label></th>
                                        <th><label>Gender</label></th>
                                        <th><label>Category</label></th>
                                    </tr>

                                </thead>
                                <tbody ng-repeat="StudentListByVenue in PaperList">
                                    <tr>
                                        <th><label>{{StudentListByVenue.IndexId}}</label></th>
                                        <th><label>{{StudentListByVenue.SeatNumber}}</label></th>
                                        <th><label>{{StudentListByVenue.PRN}}</label></th>
                                        <th><label>{{StudentListByVenue.FullName}}</label></th>
                                        <th><label>{{StudentListByVenue.AppearanceType}}</label></th>
                                        <th><label>{{StudentListByVenue.Gender}}</label></th>
                                        <th><label>{{StudentListByVenue.ApplicationReservationName}}</label></th>


                                    </tr>
                                    <tr>
                                        <th colspan="7"><label>{{StudentListByVenue.PaperList}}</label></th>


                                    </tr>


                                </tbody>
                            </table>
                            <div ng-if="contentPresent">
                                <h2 style="font-size:medium; text-align:center">There are no Datewise Centerwise Paper choice selection by your end. No Record Found.</h2>
                            </div>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>
        
    </div>

</div>

<div id="print" ng-hide="true">
    <br />
    <div class="card" ng-init="getStudentListByVenue()" style="break-after:page;">
        <table ng-table="StudentListByVenueTableParams" template-pagination="none">
            <tr>
                <td>
                    <table class="table table-framed" width="1000px" align="center">
                        <tr style="border: 1px;" class="logo">
                            <td class="align-self-center" style="border: 0px;text-align: center;"><img src="images/MSU_Logo_1.png" style="border: 1px;" alt=""></td>
                        </tr>
                        <tr style="border: 1px;" class="logo">
                            <td class="align-self-center" style="border: 1px;text-align: center;"><h4 class="heading"><b>Student List By Venue,{{ViewExamEventName}}</b></h4></td>
                        </tr>
                    </table>
                    <table class="table table-framed" width="1000px" align="center">

                        <tr style="border: 0px;" class="logo">
                            <td class="align-self-center" style="border: 0px;width:100px; text-align:center"><b>Exam Event:</b><b>{{ViewExamEventName}}</b></td>
                        </tr>
                        <tr style="border: 0px;" class="logo">
                            <td class="align-self-center" style="border: 0px;width:100px; text-align:center"><b>Programme Name:</b><b>&nbsp;{{ViewProgrammeName}}</b></td>
                        </tr>
                        <tr>
                            <td class="align-self-center" style="border: 0px;width:100px; text-align:center"><b>Branch Name:&nbsp;</b><b>{{ViewBranchName}}</b></td>

                        </tr>
                        <tr>
                            <td class="align-self-center" style="border: 0px;width:100px; text-align:center"><b>Faculty/ College/ Institution:&nbsp;</b><b>{{ViewExamVenueName}},{{ViewExamVenueAddress}}</b></td>

                        </tr>

                    </table>
                    <table class="table table-framed" width="1000px" align="center">
                        <tr>
                            <th>Exam Center:{{ViewExamVenueName}},{{ViewExamVenueAddress}}</th>
                            <th>Count of Students:{{ViewStudentCount}}</th>
                        </tr>
                    </table>
                    <table class="table table-striped table-ed" id="example-2" style="border: solid 1px black" show-filter="true">
                        <thead>

                            <tr>
                                <th><label>Sr.No.</label></th>
                                <th><label>Seat Number</label></th>
                                <th><label>PRN</label></th>
                                <th><label>Student Name</label></th>
                                <th><label>Exam Appearance Type</label></th>
                                <th><label>Gender</label></th>
                                <th><label>Category</label></th>
                            </tr>

                        </thead>
                        <tbody ng-repeat="StudentListByVenue in PaperList">
                            <tr>
                                <th><label>{{StudentListByVenue.IndexId}}</label></th>
                                <th><label>{{StudentListByVenue.SeatNumber}}</label></th>
                                <th><label>{{StudentListByVenue.PRN}}</label></th>
                                <th><label>{{StudentListByVenue.FullName}}</label></th>
                                <th><label>{{StudentListByVenue.AppearanceType}}</label></th>
                                <th><label>{{StudentListByVenue.Gender}}</label></th>
                                <th><label>{{StudentListByVenue.ApplicationReservationName}}</label></th>


                            </tr>
                            <tr>
                                <th colspan="7"><label>{{StudentListByVenue.PaperList}}</label></th>
                            </tr>


                        </tbody>
                    </table>

                </td>
            </tr>
        </table>


    </div>

</div>


